<strong>㊟Name, Email, Provider, User ID, Facebook IDはMemberのデータを編集すること</strong><br>
<strong>Active Staff, Admin Staffの設定はAdmin Staffのみ可能</strong>

<p>*: <%= t('required') %></p>

<%= form_for @staff, :html => { :class => 'form-horizontal' } do |form| %>
  <div class="form-group row">
    <%= form.label :member_id, "Member id (*)", class: 'col-sm-4' %>
    <%= form.text_field :member_id, placeholder: "123456789", class: "form-control col", :required => 'required' %>
  </div>

  <div class="form-group row">
    <%= form.label :introduction_jp, "自己紹介：日本語(organizer pageに反映)", class: 'col-sm-4' %>
    <%= form.text_area :introduction_jp, class: "form-control col", rows: 10 %>
  </odiv>

  <div class="form-group row">
    <%= form.label :introduction_en, "自己紹介：英語(organizer pageに反映)", class: 'col-sm-4' %>
    <%= form.text_area :introduction_en, class: "form-control col", rows: 10 %>
  </div>

  <br>
  <% if admin? %>
    <div class="form-group row">
      <div class="col-sm-6">
        <%= form.check_box :is_active, class: "form-check-input" %>
        <%= form.label :is_active, "現役Staff?（管理画面にアクセス可能な人）", class: 'form-check-label' %>
      </div>

      <div class="col-sm-6">
        <%= form.check_box :is_admin, class: "form-check-input" %>
        <%= form.label :is_admin, "Admin Staff?（Staffを追加削除可能な人）", class: 'form-check-label' %>
      </div>
    </div>
  <% end %>

  <br>
  <div class="form-group row">
    <%= form.submit class: "btn btn-primary col-sm-3" %>
    <%= link_to 'Cancel & Back', :back, class: 'btn btn-warning offset-sm-1 col-sm-3' %>
  </div>
<% end %>
