<table class="table">
  <thead>
    <tr>
      <th scope="col">Total</th>
      <th scope="col">Event</th>
      <th scope="col">Date</th>
      <th scope="col">Presenter</th>
      <th scope="col">Title</th>
      <th scope="col">会場</th>
    </tr>
  </thead>

  <!-- table content -->
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <% i = 0 %>
        <% event[:detail].sort_by{|e| e[:id]}.each do |detail| %>
          <% if i == 0 %>
            <%= content_tag :th, "第#{event[:event][:cumulative_number]}回", scope: "row", rowspan: event[:detail].length %>
            <%= content_tag :td, rowspan: event[:detail].length do %>
              <%= "#{event[:event][:name]}" %>
              <% if event[:event][:event_category_id] == 1 %>
                <%= "本会" %>
              <% end %>
            <% end %>
            <%= content_tag :td, event[:event][:date], rowspan: event[:detail].length %>
          <% end %>
          <td>
            <% #detail[:presenter].each do |presenter| %>
            <% detail[:presenter].reverse_each do |presenter| %>
              <strong><%= presenter[:affiliation] %></strong><br><%= "#{presenter[:title]} #{presenter[:name]} 氏" %><br>
            <% end %>
          </td>
          <td>
            <strong>
              <%= "#{detail[:title]}" %>
            </strong>
            <br>
            <%= "#{detail[:abstract]}" %>
          </td>
          <% if i == 0 %>
            <%= content_tag :td, rowspan: event[:detail].length do %>
              <%= Place.find(event[:event][:place]).name if event[:event][:place].present? and Place.where(id: event[:event][:place]).present? %></td>
            <% end %>
          <% end %>
        </tr>
        <% i += 1 %>
      <% end %>
    <% end %>
  </tbody>
</table>
