<div class="section">
  <div class="container">
    <h1>ABOUT GTIC <small>Global Techno Innovation Cafe</small></h1>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="logo-wrapper">
          <%= image_tag '../logo1200x1200.png' %>
        </div>
      </div>
      <div class="col-lg-8 col-md-8">
        <p>
        GTICとは、ベンチャー関係者が集まる会合であり、ベンチャーの「エコシステム」の実現の場です。「エコシステム」とは、ベンチャー企業、大企業、投資家、弁護士、会計士、証券会社、ベンチャーキャピタルなど、関係者が有機的に集まり、より能動的にベンチャーを育てられる仕組みです。
        </p>
        <p>
        GTICはGlobal Techno Innovation Caféの頭文字をとっています。Caféとしたのは、全く新しい発想の破壊的イノベーションを生み出しやすい環境として、堅苦しくない、Tシャツ、ジーンズで仕事をするアメリカ西海岸のようなカルチャーが良いと考えたためです。
        </p>
        <p>
        GTICのメンバーは職業だけでなく、国籍も多様です。欧米だけでなく、アジア、イスラム圏出身メンバーもいます。GTICの参加者は吸収するだけでなく、何かあれば情報を提供するなど、ギブアンドテイクの姿勢持った方が集まります。例えば、技術提携できるものはないか、資金調達をしたいけどもよい所はないか、法律相談をするには どの弁護士がベンチャー周りに詳しいかなど、様々な疑問に対し、少しでも提供できるものを持って参加して頂いています。評論家にととどまらず、こうやって皆一人ずつが当事者意識をもって実際に行動していくと、ものすごく大きい流れが生まれるはず、と考え、GTICでは、参加者の質を担保するため、招待制としています。
        </p>
        <p>
        GTICはリアルに人が集まることによる価値を大切にしています。例えば、Webにはでてこない、起業時の苦労話や裏話など、当事者でしか知り得ない知見を共有できることなどです。有益な情報を提供してくれるプレゼンターのために、GTICでは、内容によってSNSによる情報発信禁止とすることがあります。
        </p>
      </div>
    </div>
    <h1>MEMBERSHIP</h1>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <%= image_tag "http://lorempixel.com/300/300/people" %>
      </div>
 
      <div class="col-lg-8 col-md-8">
        <ul>
          <li>事前紹介制、事前招待制をとっています</li>
          <li>強引なセールス、勧誘は禁止しています</li>
          <li>ギブアンドテイクの姿勢を大事にします</li>
          <li>SNS禁止のイベントでは、イベント中に得た情報は外部に漏えいしません</li>
        </ul>
      </div>
    </div> 
    <h1>CONFERENCE</h1>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <%= image_tag "http://lorempixel.com/300/300/technics" %>
      </div>
 
      <div class="col-lg-8 col-md-8">
        <p>毎月都内でベンチャー企業によるプレゼンテーションを開催しています。</p>
      </div>
    </div> 
    <h1>WORKSHOP</h1>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <%= image_tag "http://lorempixel.com/300/300/business" %>
      </div>
 
      <div class="col-lg-8 col-md-8">
        <p>不定期でビジネスマンに役立つ勉強会を開催しています。</p>
      </div>
    </div> 
    <h1>RECEPTION</h1>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <%= image_tag "http://lorempixel.com/300/300/food" %>
        <div class="logo-wrapper">
        </div>
      </div>
 
      <div class="col-lg-8 col-md-8">
        <p>会議の後はビールと軽食を片手にプレゼンター、参加者が歓談します。</p>
        <p>ハラルフードもおいています。</p>
      </div>
    </div> 
  </div>
</div>
