<div class="section">
  <div class="container">
    <h1>ABOUT GTIC <small>Global Techno Innovation Cafe</small></h1>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="logo-wrapper">
          <%= image_tag 'logo200x200.png' %>
        </div>
      </div>
      <div class="col-lg-8 col-md-8">
        <p>
        GTICとは、ベンチャー関係者が集まる会合であり、ベンチャーの「エコシステム」の実現の場です。「エコシステム」とは、ベンチャー企業、大企業、投資家、弁護士、会計士、証券会社、ベンチャーキャピタルなど、関係者が有機的に集まり、より能動的にベンチャーを育てられる仕組みです。
        </p>
        <p>
        GTICはGlobal Techno Innovation Cafeの頭文字をとっています。Cafeとしたのは、全く新しい発想の破壊的イノベーションを生み出しやすい環境として、堅苦しくない、Tシャツ、ジーンズで仕事をするアメリカ西海岸のようなカルチャーが良いと考えたためです。
        </p>
        <p>
        GTICのメンバーは職業だけでなく、国籍も多様です。欧米だけでなく、アジア、イスラム圏出身メンバーもいます。GTICの参加者は吸収するだけでなく、何かあれば情報を提供するなど、ギブアンドテイクの姿勢を持った方が集まります。例えば、技術提携できるものはないか、資金調達をしたいけどもよい所はないか、法律相談をするには どの弁護士がべンチャー周りに詳しいかなど、様々な疑問に対し、少しでも提供できるものを持って参加して頂いています。評論家にととどまらず、こうやって皆一人ずつが当事者意識をもって実際に行動していくと、ものすごく大きい流れが生まれるはず、と考え、GTICでは、参加者の質を担保するため、招待制としています。
        </p>
        <p>
        GTICはリアルに人が集まることによる価値を大切にしています。例えば、Webにはでてこない、起業時の苦労話や裏話など、当事者でしか知り得ない知見を共有できることなどです。有益な情報を提供してくれるプレゼンターのために、GTICでは、内容によってSNSによる情報発信禁止とすることがあります。
        </p>
      </div>
    </div>
    <h1>MEMBERSHIP</h1>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <%= image_tag 'membership.png' %>

      </div>

      <div class="col-lg-8 col-md-8">
          <p>GTICでは登壇者と参加者間、また参加者同士においてもGTIC内での情報を安心して相互に交換できる場をStartup業界のプレーヤーの方々に提供するため、事前紹介制・事前招待制によるメンバーシップ制を取っております。そのため、初参加の方には事前にGTIC幹事へfacebook 上での申請とともに自己紹介をお願いしております。</p>
          <p>GTICの中でしか聞けない価値の高い内容を参加者の方々全てにご提供するべく、登壇者からの意向があればプレゼンの個別具体名や数字などについてSNS等への投稿をお断りする、という措置も取らせてもらっております。</p>
          <p>逆に自社のサービスを大々的に告知・宣伝したい、という登壇者の希望の場合には拡散を参加者の皆さんにお願いしたり、メディア記者の方々への紹介も行っております。</p>
      </div>
    </div>
    <h1>CONFERENCE（本会）</h1>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <%= image_tag 'conference.png' %>
      </div>

      <div class="col-lg-8 col-md-8">
        <p>スタートアップの代表者、上場に成功したベンチャー企業の創業者、VC(Venture Capital) や、CVC (Corporate Venture Capital)の代表者などによる、ネット上や新聞などメディアなどでは入手できない掘り下げた内容までのプレゼンテーション、パネルディスカッションをして、登壇者とだけでなく、参加者同士も含めた、腹を割ったディスカッションができる「場」を都内で毎月2回ずつ提供しています。</p>
      </div>
    </div>
    <h1>WORKSHOP（分科会）</h1>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <%= image_tag 'workshop.png' %>
      </div>

      <div class="col-lg-8 col-md-8">
        <p>不定期でビジネスマンに役立つ勉強会を開催しています。</p>
        <p><strong>これまでの開催実績</strong></p>

    <% @events.each do |event| %>
      <!-- bunkakai event -->
      <% if event[:event][:event_category_id] == 2 %>
        <% if event[:detail].length >= 1 %>
          <% i=0 %>
          <% event[:detail].each do |detail| %>
            <% if detail[:presenter].length >= 1 %>
              <% if i == 0 %>
                <%= content_tag :td, rowspan: event[:detail].length do %>
                  <%= "#{event[:event][:name]}" %>
                <% end %>
                <td><strong><%= "　#{detail[:title]}" %></strong></td>
              <% else %>
                <strong><%= " / #{detail[:title]}" %></strong>
              <% end %>
              <% i += 1 %>
            <% end %>
          <% end %>
          <br>
        <% end %>
      <% end %>
    <% end %>

        <br><br><strong>また、上の会合に加えて、2014年からは 実践英語セミナー「知識の泉」も、開始。
                        毎月、毎回英語に関するプロの方々(通訳者、同時通訳者、大学教官、130冊超の英語学習書を出版してきた人気作家、英語によるプレゼン講師、元NYの大手ファッション会社の広報だった方などなど)を講師にお迎えして開催しています。</strong><br><br>

    <% @events.each do |event| %>
      <!-- bunkakai event -->
      <% if event[:event][:event_category_id] == 3 %>
        <% if event[:detail].length >= 1 %>
          <% i=0 %>
          <% event[:detail].each do |detail| %>
            <% if detail[:presenter].length >= 1 %>
              <% if i == 0 %>
                <%= content_tag :td, rowspan: event[:detail].length do %>
                  <%= "#{event[:event][:name]}" %>
                <% end %>
                <td><strong><%= "　#{detail[:title]}" %></strong></td>
              <% else %>
                <strong><%= " / #{detail[:title]}" %></strong>
              <% end %>
              <% i += 1 %>
            <% end %>
          <% end %>
          <br>
        <% end %>
      <% end %>
    <% end %>

      </div>
    </div>
    <h1>RECEPTION</h1>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag 'reception01.png' %>
            </div>
            <div class="item">
              <%= image_tag 'reception02.png' %>
            </div>
            <div class="item">
              <%= image_tag 'reception03.png' %>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
        <div class="logo-wrapper">
        </div>
      </div>

      <div class="col-lg-8 col-md-8">
        <p>会議の後はビールと軽食を片手にプレゼンター、参加者が歓談します。</p>
        <p>GTICでは、第１回イベントから一度もかかさず、ムスリムの方が来ても安心して、食事ができるように、Halal料理を懇親会に必ず、用意しています。 </p>
        <p>そのような背景もあり、バングラデシュから政府高官や、経済界の代表団が来日した時も、GTICで講演をさせてもらいたい、と依頼が来ました。</p>
        <p>※ハラル(HALAL)とは、イスラムの教え（シャリーア法とイスラム原理）で許された、「健全な商品や活動」全般を指し、イスラム教徒（ムスリム）は原則ハラル料理以外を食することを許されていません。
        GTICでは、正式にハラル認証を受けた店舗からハラル料理を注文し、提供しています。</p>
      </div>
    </div>
    <h1>User Type</h1>
    <center>
    <font size = "5">
      <p>GTICの特徴は、参加者の多様性です。</p>
      <p>「分野・国籍・年齢問わず」を基本理念とし、<br>様々な職業、幅広い年齢層、多様な人種が盛んに議論しあう「場」を提供しています。</p><br>
    </font>
      <h1>参加者の職業</h1>
        <p>
          <%= image_tag "zokusei.png", size: "500x400" %>
        </p>
        <br><br><br>
      <h1>参加者の年齢</h1>
          <%= image_tag "nenrei.png", size: "600x460" %>
<br><br><br>
      <h1>各国からの参加者</h1>
      <div class="row"><h3>
        <div class="col-lg-3 col-md-3">
          <p>アメリカ</p><p>カナダ</p><p>中国</p><p>台湾</p><p>香港</p><p>韓国</p>
        </div>
        <div class="col-lg-3 col-md-3">
          <p>フィリピン</p><p>ベトナム</p><p>タイ</p><p>インド</p><p>チュニジア</p><p>ロシア</p>
        </div>
        <div class="col-lg-3 col-md-3">
          <p>イギリス</p><p>フランス</p><p>ベルギー</p><p>ウズベキスタン</p><p>ハンガリ―</p><p>メキシコ</p>
        </div>
        <div class="col-lg-3 col-md-3">
          <p>バングラデシュ</p><p>シンガポール</p><p>マレーシア</p><p>新疆ウイグル</p><p>ポーランド</p>
        </div>
      </div>
      </center>
      <p></h3>
    </div>
  </div>
</div>
