<style>
.event-bkg::after {
  content: "";
  background-image: url('<%= serve_images_path(id: @event.bkg_image_id) %>');
  filter: blur(8px);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
</style>

<% content_for :title, @event.name+' '+@event.event_category.name %>

<!-- hidden image for thumbnail -->
<%= image_tag serve_file_event_path(id: @event.id), style: 'display:none' if @event.header_data %>


<!-- first view -->
<div class="container-fluid event-bkg event-detail">

  <!-- Social -->
  <div class="float-end" data-aos="fade-left">
    <div class="btn-group">
      <!-- Share with Facebook -->
      <div class="fb-share-button"
        data-href="https://gtic.jp<%= event_detail_path(event_id: @event.id) %>"
        data-layout="button_count" data-size="large">
      </div>
      <!-- Share with Twitter -->
      <a class="twitter-share-button btn btn-primary btn-sm rounded"
         href="https://twitter.com/intent/tweet?text=GTIC%20event%20<%= @event.name %><%= @event.event_category.name %>%20https://gtic.jp<%= event_detail_path(event_id: @event.id) %>"
        data-size="large" target="blank">
        <i class="fab fa-twitter"></i>Tweet
      </a>
      <!-- Share with Line -->
      <div class="line-it-button" data-lang="en" data-type="share-a" data-ver="3"
        data-url="https://gtic.jp<%= event_detail_path(event_id: @event.id) %>"
        data-color="default" data-size="large" data-count="true" style="display: none;"></div>
      <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
    </div>
  </div>

  <br><br><br><br>

  <div data-aos="fade-down">
    <h1><%= @event.name %> <%= @event.event_category.name %></h1>
    <h5>
      <% @presentations.sort_by{|e| e[:id]}.each do |presentation| %>
        <li><%= presentation.title %></li>
      <% end %>
    </h5>
  </div>

  <br><br><br>

  <div class="row" data-aos="fade-right">
    <div class="col-auto">
      <h1><i class="fas fa-calendar"></i></h1>
    </div>
    <div class="col-auto">
      <strong>WHEN</strong><br>
      <h5><%= l @event.start_time, format: :default%></h5>
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-auto">
      <h1><i class="fas fa-map-marker-alt"></i></h1>
    </div>
    <div class="col-auto" data-aos="fade-right">
      <strong>WHERE</strong><br>
      <h5><%= link_to @event.place.name, '#how_to_go' %></h5>
    </div>

    <div class="offset-sm-9 col-auto text-end" data-aos="fade-left">
      <%= link_to t('register'), '#registration', class: 'btn btn-success btn-lg btn-block' %>
    </div>
  </div>

</div>


<!----------- Speakers --------------->
<div id='speakers' class="container-fluid event-detail bg-info">
  <h2>The Speakers</h2>
  <br>

  <div class="row">
    <% @event.presenters.each do |presenter| %>

      <div class="col-sm-4" data-aos="fade-up">
        <%= image_tag "data:#{presenter.profile_picture_mime_type};base64,#{Base64.strict_encode64(presenter.profile_picture_data)}",
            alt: presenter.profile_picture_name, class: 'img-thumbnail mx-auto d-block', style: 'max-height: 200px;' if presenter.profile_picture_name %>
        <h4><%= presenter.last_name+' '+presenter.first_name+' 氏' %></h4>
        <p>
          <strong><%= presenter.title %></strong><br>
          @<%= presenter.affiliation %><br>
          <%= link_to presenter.website, presenter.website if presenter.website %>
        </p>
        <button type="button" class="btn btn-info" data-bs-toggle="popover"
            title="<%= presenter.last_name+' '+presenter.first_name+' 氏' %>"
            data-bs-content="<%= presenter.biography.present? ? presenter.biography : 'To be added' %>">
          Biography
        </button>
      </div>

    <% end %>
  </div>
</div>


<!----------- Schedule --------------->
<div id='schedule' class="container-fluid event-detail bg-light">
  <h1>Schedule</h1>
  <br>

  <div class="row" data-aos="fade-up">
    <div class="col-2">
      <h5 class="text-end" style="color: red;"><%= (@event.start_time-60*30).strftime('%H:%M') %></h5>
    </div>
    <div class="col-auto vl" ></div>
    <div class="col">
      <h4>受付 / Reception</h4>
      <hr>
    </div>
  </div>

  <div class="row" data-aos="fade-up">
    <div class="col-2">
      <h5 class="text-end" style="color: red;"><%= @event.start_time.strftime('%H:%M') %></h5>
    </div>
    <div class="col-auto vl" ></div>
    <div class="col">
      <h4>オープニングスピーチ / Opening Speech</h4>
      <hr>
    </div>
  </div>

  <% n = 1 %>
  <% @presentations.sort_by{|e| e[:id]}.each do |presentation| %>
    <div class="row" data-aos="fade-up">
      <div class="col-2">
        <h5 class="text-end" style="color: red;"><%= presentation.start_time.strftime('%H:%M') + ' ~ ' + presentation.end_time.strftime('%H:%M') if presentation.start_time %></h5>
      </div>

      <div class="col-auto vl" ></div>

      <div class="col">
        <sub><small><%= "Presentation ##{n}" %></small></sub>
        <h5><%= presentation.title %></h5>

        <div style="height: 3px;"></div>

        <% presentation.presenters.each do |presenter| %>
          <h5 style="display: inline;"><strong><%= "#{presenter.last_name} #{presenter.first_name} 氏" %></strong></h5>
          <small><%= presenter.affiliation %></small>
          <br>
        <% end %>

        <div style="height: 3px;"></div>

        <%= presentation.abstract %>
        <hr>
      </div>
    </div>
    <% n += 1 %>
  <% end %>

  <div class="row" data-aos="fade-up">
    <div class="col-2">
      <h5 class="text-end" style="color: red;"><%= (@event.start_time+60*80).strftime('%H:%M') %></h5>
    </div>
    <div class="col-auto vl" ></div>
    <div class="col">
      <h4>アンケート記入 / Fill out the questionnaire</h4>
      <hr>
    </div>
  </div>

  <div class="row" data-aos="fade-up">
    <div class="col-2">
      <h5 class="text-end" style="color: red;"><%= (@event.start_time+60*90).strftime('%H:%M') %></h5>
    </div>
    <div class="col-auto vl" ></div>
    <div class="col">
      <h4>懇親会 / Networking party</h4>
      <hr>
    </div>
  </div>

  <div class="row" data-aos="fade-up">
    <div class="col-2">
      <h5 class="text-end" style="color: red;"><%= @event.end_time.strftime('%H:%M') %></h5>
    </div>
    <div class="col-auto vl" ></div>
    <div class="col">
      <h4>集合写真&終了 / Group Photo time & Event end</h4>
      <hr>
    </div>
  </div>

</div>


<!----------- Sponsors --------------->
<div id='sponsors' class="container-fluid event-detail bg-info" style='padding: 4vw 0;'>
  <div style="padding-left: 6vw">
    <h1>Our sponsors</h1>
  </div>
  <br>

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-aos="fade-up">
    <div class="carousel-indicators">
      <% @sponsors.each_with_index do |sponsor, index| %>
        <% if index%4 == 0 %>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index/4.to_i %>" aria-label="Slide <%= index/4.to_i %>"
              class="<%= "active" if index == 0 %>" aria-current="<%= "true" if index == 0 %>"></button>
        <% end %>
      <% end %>
    </div>
    <div class="carousel-inner">
      <% @sponsors.each_with_index do |sponsor, index| %>
        <% if index%4 == 0 %>
          <div class="carousel-item <%= 'active' if index == 0 %>" style="margin-bottom: 80px;">
            <div class="row">
              <div class="offset-sm-2 col-auto"></div>
        <% end %>
              <div class="col-sm-2" style="height: 200px; <%= "opacity: 0.5;" if sponsor.is_end %>" >
                <%= link_to our_sponsors_path(anchor: sponsor.id), class: 'btn' do %>
                  <h5 class="text-center"><%= sponsor.name %></h5>
                  <%= image_tag "data:#{sponsor.logo_mime_type};base64,#{Base64.strict_encode64(sponsor.logo_data)}",
                      alt: sponsor.logo_name, class: 'd-block w-100' if sponsor.logo_name %>
                <% end %>
              </div>
        <% if index%4 == 3 or index == @sponsors.count-1 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<!----------- Registration --------------->
<div id='registration' class="container-fluid event-detail bg-light">
  <h1>Registration & Fee</h1>
  <br>

  <div class="row">
    <div class="col-sm-6" data-aos="fade-right">
      <% if @is_expired_event %>

        <h4>イベント参加登録を締め切りました。GTICスタッフに直接連絡お願いします。Cannot register the event now. Please contact to GTIC staffs directly.</h4>

      <% else %>

        <% if @is_registered %>
          <h4>ご参加登録ありがとうございます！参加証はご記入のメールに送信しました。Thank you for the registration! We sent registration confirmation via email.</h4>
        <% else %>

          <% if current_user %>
            <%= link_to t('register'), register_event_user_path(event_id: @event.id), method: 'post', class: 'btn btn-primary btn-lg btn-block',
              data: { confirm: "イベント参加登録に進みます。よろしいでしょうか？Register this event. Are you confirm?" } %>
          <% else %>
            <%= link_to t('gtic_user_sign_in'), new_user_session_path, class: "btn btn-primary btn-lg" %>

            <h5>アカウントをお持ちでない方は以下の情報をご記入して送信してください。If you don't have the account, fill below and submit</h5>
            <%= form_with model: @member, url: register_event_form_path(event_id: @event.id) do |f| %>
              <div class="form-group row">
                <%= f.label :last_name, t('user.last_name')+"(*)", class: 'col-sm-4' %>
                <%= f.text_field :last_name, placeholder: "山田", class: "form-control col", required: 'required' %>
              </div>
              <div class="form-group row">
                <%= f.label :first_name, t('user.first_name')+"(*)", class: 'col-sm-4' %>
                <%= f.text_field :first_name, placeholder: "太郎", class: "form-control col", required: 'required' %>
              </div>
              <div class="form-group row">
                <%= f.label :last_name_alphabet, t('user.last_name_alphabet')+"(*)", class: 'col-sm-4' %>
                <%= f.text_field :last_name_alphabet, placeholder: "Yamada", class: "form-control col", required: 'required' %>
              </div>
              <div class="form-group row">
                <%= f.label :first_name_alphabet, t('user.first_name_alphabet')+"(*)", class: 'col-sm-4' %>
                <%= f.text_field :first_name_alphabet, placeholder: "Taro", class: "form-control col", required: 'required' %>
              </div>
              <div class="form-group row">
                <%= f.label :category_id, t('user.category')+"(*)", class: 'col-sm-4' %>
                <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name, @member.category_id), { include_blank: true }, { class: "form-control col", required: 'required' } %>
              </div>
              <div class="form-group row">
                <%= f.label :affiliation, t('user.affiliation')+"(*)", class: 'col-sm-4' %>
                <%= f.text_field :affiliation, placeholder:  "海山商事", class: "form-control col", required: 'required' %>
              </div>
              <div class="form-group row">
                <%= f.label :title, t('user.title')+"(*)", class: 'col-sm-4' %>
                <%= f.text_field :title, placeholder:  "代表取締役社長", class: "form-control col", required: 'required' %>
              </div>
              <div class="form-group row">
                <%= f.label :email, t('user.email')+"(*)", class: 'col-sm-4' %>
                <%= f.email_field :email, id: 'email', placeholder: "test@example.com", class: "form-control col", required: 'required' %>
              </div>
              <div class="form-group row">
                <%= f.label :email_confirm, t('user.email_confirm')+"(*)", class: 'col-sm-4' %>
                <%= f.email_field :email, id: 'email_confirm', placeholder: "test@example.com", class: "form-control col", onblur: "confirmEmail()", required: 'required' %>
              </div>

              <!-- reCAPTCHA -->
              <%= flash[:recaptcha_error] %>
              <%= recaptcha_tags %>

              <div class="form-group">
                <%= f.submit t('submit'), class: "btn btn-primary",
                  data: { confirm: "イベント参加登録に進みます。よろしいでしょうか？Register this event. Are you confirm?" } %>
              </div>

            <% end %><!-- end of form -->
          <% end %><!-- end of if current user -->

        <% end %><!-- end of if registerd -->
      <% end %><!-- end of if expired -->

    </div>

    <div class="col-sm-6" data-aos="fade-left">
      <h5>＜会費 fee＞</h5>
      <li>一般 business person 及び、仕事を持っていらっしゃる社会人学生: 5,000円</li>
      <li>フルタイムの学生 full time student: 3,000円（学生証をお持ち下さい。Bring your student ID.）</li>
      <li>GTIC開催日と同じ月の誕生日の方は1000円割引です。（上記学生割引との併用OKです。）　誕生日がわかる運転免許証や、学生証などを受付で提示してください。
        (If your birthday is in this same month, discount by JPY1,000. )</li>
      <p>レセプション時に誕生日の方には、一言ショート・スピーチをお願いしています。<br>
      ※懇親会では、お食事・お飲物をご用意しております。<br>
      ※「分野・国籍・年齢を超えてつながり、新しい発想で具体的に一歩踏み出してみよう！！」<br>
      "We prepare refreshment in Networking-party."<br>
      "Amalgamate different business area, nationalities, and ages... and one step forward!!"<br>
      "That's one small step for man, one giant leap for mankind," (astronaut Neil Armstrong, July 20, 1969)<br>
      "We prepare Halal foods for Muslim participants."<br>
      </p>
    </div>
  </div>
</div>

<script type="text/javascript">
  function confirmEmail() {
    var email = document.getElementById("email").value
    var email_confirm = document.getElementById("email_confirm").value
    if(email != email_confirm) {
        alert('メールアドレスが一致しません。Email Not Matching!');
    }
  }
</script>


<!----------- Map --------------->
<div id='how_to_go' class="container-fluid event-detail bg-info">
  <h1>Location</h1>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <li>Place name: <%= @event.place.name %></li>
      <li>Nearest Station: <%= @event.place.nearest_station %></li>
      <p><%= simple_format(@event.place.how_to_go) %></p>
    </div>

    <iframe height="450" class="col-sm-6" style="border:0" loading="lazy" allowfullscreen
      src="https://www.google.com/maps/embed/v1/search?q=<%= @event.place.latitude %>%2C<%= @event.place.longitude %>&key=<%= ENV['GOOGLE_API_KEY'] %>">
    </iframe>
  </div>
</div>


<!----------- Note --------------->
<div id='note' class="container-fluid event-detail bg-light">
  <h1>Note</h1>
  <br>

  <div class="row">
    <%= simple_format(@event.note) %>
  </div>
</div>


<!----------- Go to Top button --------------->
<div class="fixed-bottom text-end">
  <a href="#top" class="btn btn-info"><i class="fas fa-arrow-up" style="font-size: 40px;"></i></a>
</div>

<script>
  // Dark theme
  const dark_theme_media = window.matchMedia("(prefers-color-scheme: dark)");
  if (dark_theme_media.matches) {
    document.getElementById("speakers").classList.add('bg-dark');
    document.getElementById("schedule").classList.add('bg-dark');
    document.getElementById("sponsors").classList.add('bg-dark');
    document.getElementById("registration").classList.add('bg-dark');
    document.getElementById("how_to_go").classList.add('bg-dark');
    document.getElementById("note").classList.add('bg-dark');
  }
</script>
