<% content_for :title, 'Events' %>

<div class="container">
  <h1>GTIC Events</h1>

  <!-- Search -->
  <%= form_tag '/search_event', method: 'get', remote: true, role: "form" do %>
    <div class="row">
      <%= label_tag :keyword, 'イベント検索', class: 'col-form-label col-auto' %>
      <%= text_field_tag :keyword, params[:keyword], class: "form-control col", placeholder: "keyword" %>
      <%= submit_tag 'Search', :name => nil, class: 'btn btn-primary col-auto' %>
      <span class='form-text col-auto'>読み方による検索はアルファベットのみ可能（ひらがな・カタカナは未対応）</span>
    </div>
  <% end %>

  <!-- per year Paginate -->
  <% if @start_date.present? and @last_date.present? %>
    <div class="btn-group btn-group-sm row">
      <% date = @last_date%>
      <% while date >= @start_date do %>
        <%= link_to "#{date.strftime("%Y")}年", event_list_path(:year => date.strftime("%Y-%m-%d")), class: "btn btn-info col-auto", remote: true %>
        <% date = date - 1.year %>
      <% end %>
    </div>
  <% end %>

  <div id="ajax_container">
    <%= render 'events' %>
  </div>

</div>
