<div class="full-width-image">
  <div class="logo-wrapper">
    <%= image_tag 'logo200x200.png' %>
    <h1>よりオープンに、よりグローバルに、よりイノベイティブに、<br>
      ベンチャー、起業、スタートアップ、イノベーションを考えよう！</h1>
    <h2>More open, more global, more innovative! <br>Let’s think about the Venture, Startup, Innovation , regardless of field, Age, Nationality !</h2>
    <a href="https://gtic.jp/about" class="btn btn-primary btn-lg">GTICについて(ABOUT)</a>
  </div>
</div>

<br>

<!-- time -->
<% require "active_support/time"%>
<% time = Time.now %>

<% if @media_article.date > time - 31*24*60*60 %>
  <div class="container">
    <h3>新しい記事が登録されました。詳細は<a href="'/media">MEDIA ARTICLEページで</a></h3>
  </div>
<% end %>

<br>

<div class="container">

  <h1 class="text-center">-最新イベント情報-</h1>
  <p class="text-center"><a href="https://gtic.jp/presenter">過去のイベント一覧はこちら</a></p>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Total</th>
        <th scope="col">Event</th>
        <th scope="col">Date</th>
        <th scope="col">Presenter</th>
        <th scope="col">Title</th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
      <!-- unheld event -->
        <% if event[:event][:date] < time - 24*60*60 %>
          <% break %>
        <% end %>

        <% if event[:detail].length >= 1 %>
          <% i=0 %>
          <% event[:detail].sort_by{|e| e[:id]}.each do |detail| %>
            <tr>
              <% if i == 0 %>
                <%= content_tag :td, "第#{event[:event][:cumulative_number]}回", rowspan: event[:detail].length %>
                <%= content_tag :td, rowspan: event[:detail].length do %>
                  <%= "#{event[:event][:name]}" %>
                  <% if event[:event][:event_category_id] == 1 %>
                    <%= "本会" %>
                  <% end %>
                <% end %>
                <%= content_tag :td, event[:event][:date], rowspan: event[:detail].length %>
              <% end %>
              <td>
                <% #detail[:presenter].each do |presenter| %>
                <% detail[:presenter].reverse_each do |presenter| %>
                  <strong><%= presenter[:affiliation] %></strong><br>
                  <%= "#{presenter[:title]} #{presenter[:name]} 氏" %><br>
                <% end %>
              </td>
              <td>
                <strong><%= "#{detail[:title]}" %></strong>
                <br>
                <%= "#{detail[:abstract]}" %>
              </td>
            </tr>
            <% i += 1 %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>

</div>

<br>

<!-- Cards -->
<div class="container">

  <h1 class="text-center">-活動-</h1>

  <center>
    <a href="https://www.facebook.com/GTICafe/photos/?ref=page_internal" class="btn btn-secondary">GTIC開催様子アルバム(外部ページ)</a>
  </center>

  <div class="row">
    <div class="col">
      <div class="card">
        <!--<img class="card-img-top" src="..." alt="Card image cap">-->
        <div class="card-body">
          <h5 class="card-title text-center">
            <span class="glyphicon glyphicon-globe"></span>
            <a href="https://gtic.jp/about#conference">CONFERENCE (本会)</a>
          </h5>
          <p class="card-text">毎月都内でベンチャー企業によるプレゼンテーションを開催しています。</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <!--<img class="card-img-top" src="..." alt="Card image cap">-->
        <div class="card-body">
          <h5 class="card-title text-center">
            <span class="glyphicon glyphicon-link"></span>
            <a href="https://gtic.jp/about#reception">懇親会</a>
          </h5>
          <p class="card-text">会議の後はビールと食事を片手にプレゼンター、参加者が歓談します。</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <!--<img class="card-img-top" src="..." alt="Card image cap">-->
        <div class="card-body">
          <h5 class="card-title text-center">
            <span class="glyphicon glyphicon-book"></span>
            <a href="https://gtic.jp/about#workshop">知識の泉</a></h1>
          </h5>
          <p class="card-text">海外時事を通して実践英語を学ぶパネルディスカッションを開催しています。</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <!--<img class="card-img-top" src="..." alt="Card image cap">-->
        <div class="card-body">
          <h5 class="card-title text-center">
            <span class="glyphicon glyphicon-edit"></span>
            <a href="https://gtic.jp/about#workshop">WORKSHOP (分科会)</a></h1>
          </h5>
          <p class="card-text">不定期でビジネスマンに役立つ勉強会を開催しています。</p>
        </div>
      </div>
    </div>
  </div>

</div>

<br>

<div class="container">
  <center>
    <h1 class="text-center">-お知らせ-</h1>

    <div class="row">
      <div class="col">

        <div class="fb-page" data-href="https://www.facebook.com/GTICafe/" data-tabs="timeline" data-width="500" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/GTICafe/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/GTICafe/">Global Techno Innovation Cafe (GTIC)</a>
          </blockquote>
        </div>

      </div>
    </div>

    <p>すべてのお知らせは<a href="https://www.facebook.com/GTICafe" target="_blank">公式Facebookページ</a>へ</p>
  </center>
</div>
