<div class="full-width-image">
  <div class="logo-wrapper">
    <%= image_tag 'logo200x200.png' %>
    <h1>よりオープンに、よりグローバルに、よりイノベイティブに、<br>
      ベンチャー、起業、スタートアップ、イノベーションを考えよう！</h1>
    <h2>More open, more global, more innovative! <br>Let’s think about the Venture, Startup, Innovation , regardless of field, Age, Nationality !</h2>
  </div>
</div><br>

<div class="container">
  <h1>最新イベント情報</h1>
  <p>詳細は<a href="http://www.facebook.com/GTICafe">こちら</a></p>
  <table class="table">
    <tr>
      <th class="col-md-1">Total</th>
      <th class="col-md-1">Event</th>
      <th class="col-md-1">Date</th>
      <th class="col-md-2">Presenter</th>
      <th class="col-md-4">Title</th>
    </tr>
  
    <!-- count -->
    <% max_id = 1 %>  
    <% @events.each do |event| %>
      <% max_id += 1 %>
    <% end %>
  
    <!-- relate id and real id -->
    <% event_id = Array.new(max_id) %>
    <% h = max_id - 1 %>
    <% @events.each do |event| %>
      <% event_id[h] = event[:event][:id] %>
      <% h -= 1 %>
    <% end %>
  
    <!-- table content -->
    <% @events.each do |event| %>

      <!-- unheld event -->
      <% require "active_support/time"%>
      <% time = Time.now %>
      <% if event[:event][:date] < time%>
        <% break %>
      <% end %>

      <% if event[:detail].length == 0 %>
  
      <% elsif event[:detail].length >= 1 %>
        <% i=0 %>
        <% event[:detail].each do |detail| %>
          <tr>
            <% if detail[:presenter].length >= 1 %>
              <% if i == 0 %>
                <%= content_tag :td, rowspan: event[:detail].length do %>
                  <% for h in 0..max_id do %>
                    <% if event_id[h] == event[:event][:id] %>
                      <% break %>
                    <% end %>
                  <% end %>
                  <%= "第#{h}回" %>
                <% end %>
                <%= content_tag :td, rowspan: event[:detail].length do %>
                  <%= "#{event[:event][:name]}" %>
                  <% if event[:event][:event_category_id] == 1 %>
                    <%= "本会" %>
                  <% end %>
                <% end %>
                <%= content_tag :td, event[:event][:date], rowspan: event[:detail].length %>
              <% end %>
              <td>
                <% detail[:presenter].reverse_each do |presenter| %>
                  <strong><%= presenter[:affiliation] %></strong><br><%= "#{presenter[:title]} #{presenter[:name]} 氏" %><br>
                <% end %>
              </td>
              <td>
                <strong>
                <%= "#{detail[:title]}" %>
                </strong>
                <br>
                <%= "#{detail[:abstract]}" %>
              </td>
          </tr>
          <% i += 1 %>
            <% end %>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>


<div class="container">
  <div class="col-md-8">
    <table width="100%" border="0px">  
      <tr>
        <th rowspan="2" width="70%">
          <center>
            <h1><span class="glyphicon glyphicon-globe"></span> CONFERENCE (本会)</h1>
            <p><h3>毎月都内でベンチャー企業によるプレゼンテーションを開催しています。</h3></p><br>
    
            <h1><span class="glyphicon glyphicon-edit"></span> WORKSHOP (分科会)</h1>
            <p><h3>不定期でビジネスマンに役立つ勉強会を開催しています。</h3></p><br>
    
            <h1><span class="glyphicon glyphicon-book"></span> 知識の泉</h1>
            <p><h3>海外時事を通して実践英語を学ぶパネルディスカッションを開催しています。</h3></p><br>
    
            <h1><span class="glyphicon glyphicon-link"></span> 懇親会</h1>
            <p><h3>会議の後はビールと食事を片手にプレゼンター、参加者が歓談します。</h3></p>
          </center>
        </th>
      </tr>
    </table>
  </div>
  
  <div class="col-md-4">
    <div class="col">
      <div aligh = "center">
        <button type="button"onclick="window.open('http://gtic.jp/presenter')" class="btn btn-primary btn-lg">
          <strong><font size = "4">過去の登壇者</font></strong>
        </button>
      </div>
    </div>
 
    <div class="col">
      <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>
      <div class="fb-page" data-href="https://www.facebook.com/GTICafe" data-hide-cover="false" data-show-facepile="true" data-show-posts="true" data-width="380">
        <div class="fb-xfbml-parse-ignore">
          <blockquote cite="https://www.facebook.com/GTICafe">
            <a href="https://www.facebook.com/GTICafe">Global Techno Innovation Cafe (GTIC)</a>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
