<% content_for :title, 'Media articles' %>

<div class="container">

  <h1>Media articles</h1>

  <h2>登壇企業の記事</h2>
  <p>過去にGTICイベントに登壇された企業の活躍に関する記事です</p>

  <!-- Search -->
  <%= form_tag '/search_media_article', method: 'get', remote: true, role: "form" do %>
    <div class="row">
      <%= label_tag :keyword, '記事検索', class: 'col-form-label col-auto' %>
      <%= text_field_tag :keyword, params[:keyword], class: "form-control col", placeholder: "keyword" %>
      <%= submit_tag 'Search', :name => nil, class: 'btn btn-primary col-auto' %>
    </div>
    <div class="row">
      <span class='form-text col-auto'>*メディア名、記事名、企業名、登壇者名から検索できます(OR検索：スペースで区切る)</span>
    </div>
  <% end %>

  <div class="row" id="ajax_container">
    <%= render 'media_articles' %>
  </div>

  <div class='py-5'></div>

  <h2>CHIEF ORGANIZER'S ACTIVETY</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Activeties</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">2021/07/15</td>
        <td><%= link_to "	Deal Watch 「日本のIPO市場について」", serve_file_media_article_path(70), target: :blank %></td>
      </tr>
      <tr>
        <th scope="row">2015/02/21</td>
        <td><%= link_to "大阪大学 博士課程 超域イノベーション・プログラム", "http://www.cbi.osaka-u.ac.jp/choikijijo/article/school20th/", target: :blank %></td>
      </tr>
      <tr>
        <th scope="row">2014/12/13</td>
        <td><%= link_to "沖縄科学技術大学院大学(OIST)　起業家人材育成プログラム(Entrepreneurial Training Program)", "https://groups.oist.jp/ja/bds/event/2014-entrepreneurial-training-program-day-3", target: :blank %></td>
      </tr>
      <tr>
        <th scope="row">2014/07/09</td>
        <td><%= link_to "BBT大学 資産形成力養成講座 @東京（市ヶ谷） セミナー『元外資系インベストメントバンカーが解説する資産運用の仕組みと本質』", "http://www.ohmae.ac.jp/ex/asset/guide/event/996/http://www.cbi.osaka-u.ac.jp/choikijijo/article/school20th/", target: :blank %></td>
      </tr>
    </tbody>
  </table>


</div>
