<div class="section">
  <div class="container">
    <h1>MEDIA</h1>
    <table class="table">
      <tr>
        <th>Date</th>
        <th>Media</th>
        <th>Title</th>
      </tr>
      <tr>
        <td>2011/11/22</td>
        <td>DEALWATCH ロイター</td>
        <td><%= link_to "Equity Market Pointer: 日本のベンチャーを元気に　人材交流の場「GTIC」開催", "http://ja.scribd.com/doc/73568177/20111122dealwatchgtic%E7%AC%AC1%E5%9B%9E", target: :blank %></td>
      </tr>
      <tr>
        <td>2012/01/23</td>
        <td>金融ファクシミリ新聞</td>
        <td><%= link_to "財務人 第14回「イノベーション・カフェを開催」", "http://docs.com/HJRL", target: :blank %>
      </tr>
      <tr>
        <td>2012/06/28</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "秋山智紀さん & GTIC", "http://www.myeyestokyo.jp/4464", target: :blank %></td>
      </tr>
      <tr>
        <td>2013/02/18</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "「傷だらけの英語習得術」秋山智紀さん", "http://www.myeyestokyo.jp/6494", target: :blank %></td>
      </tr>
      <tr>
        <td>2013/06/07</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "GTIC スーパープレゼンテーションに行ってきました！", "http://www.myeyestokyo.jp/6849", target: :blank %></td>
      </tr>
      <tr>
        <td>2013/06/10</td>
        <td>DEALWATCH ロイター</td>
        <td>未来を創造する力、インキュベーション・オフィスを開設</td>
      </tr>
      <tr>
        <td>2013/06/18</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "為末大さん @ GTIC 1 ハードラー前夜", "http://www.myeyestokyo.jp/7525", target: :blank %></td>
      </tr>
      <tr>
        <td>2013/06/18</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "為末大さん @ GTIC 2 世界への険しい道のり","http://www.myeyestokyo.jp/7528", target: :blank %></td>
      </tr>
      <tr>
        <td>2013/06/18</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "為末大さん @ GTIC 3 世界で勝つということ", "http://www.myeyestokyo.jp/7532", target: :blank %></td>
      </tr>
      <tr>
        <td>2013/06/18</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "為末大さん @ GTIC 4 陸上競技 vs ベンチャービジネス　トークバトル！", "http://www.myeyestokyo.jp/7541", target: :blank %></td>
      </tr>
      <tr>
        <td>2013/11/06</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "GTIC feat. バングラデシュ！","http://www.myeyestokyo.jp/18274", target: :blank %></td>
      </tr>
      <tr>
        <td>2013/11/06</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "GTIC x Bangladesh!", "http://www.myeyestokyo.com/6578", target: :blank %></td>
      </tr>
    </table>
  </div>
</div>
