<div class="section">
  <div class="container">
    <h1>MEDIA</h1>
    <table class="table">
      <tr>
        <th>Date</th>
        <th>Media</th>
        <th>Title</th>
      </tr>
      <tr>
        <td>2015/04/01</td>
        <td>pamphlet</td>
        <td>新宿住友ビルディングのコワーキングスペース、「World Lounge」のパンフレットにて紹介</td>
      </tr>
      <tr>
        <td>2015/02/16</td>
        <td>blog</td>
        <td><%= link_to "第67回GTICに登壇のKLab Ventures 長野社長のブログ「鴻鵠の志」", "http://www.myeyestokyo.com/6578", target: :blank %>にて紹介</td>
      </tr>
      <tr>
        <td>2014年 11/12月号</td>
        <td>FRAUD</td>
        <td><%= link_to "Vol. 41, 2014年11/12月号 インタビュー記事 (後編)", "https://www.d-quest.co.jp/helpline/mag/contents/akiyamatomonori2.html", target: :blank %></td>
      </tr>
      <tr>
        <td>2014年 7/8月号</td>
        <td>FRAUD</td>
        <td><%= link_to "Vol. 39, 2014年7/8月号 インタビュー記事 (前編)", "https://www.d-quest.co.jp/helpline/mag/contents/akiyamatomonori.html", target: :blank %></td>
      </tr>
      <tr>
        <td>2013/11/06</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "GTIC x Bangladesh!", "http://www.myeyestokyo.com/6578", target: :blank %></td>
      </tr>
      <tr>
        <td>2013/11/06</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "GTIC feat. バングラデシュ！","http://www.myeyestokyo.jp/18274", target: :blank %></td>
      </tr>
      <tr>
        <td>2013/06/18</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "為末大さん @ GTIC 4 陸上競技 vs ベンチャービジネス　トークバトル！", "http://www.myeyestokyo.jp/7541", target: :blank %></td>
      </tr>
      <tr>
        <td>2013/06/18</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "為末大さん @ GTIC 3 世界で勝つということ", "http://www.myeyestokyo.jp/7532", target: :blank %></td>
      </tr>
      <tr>
        <td>2013/06/18</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "為末大さん @ GTIC 2 世界への険しい道のり","http://www.myeyestokyo.jp/7528", target: :blank %></td>
      </tr>
      <tr>
        <td>2013/06/18</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "為末大さん @ GTIC 1 ハードラー前夜", "http://www.myeyestokyo.jp/7525", target: :blank %></td>
      </tr>
      <tr>
        <td>2013/06/10</td>
        <td>DEALWATCH ロイター</td>
        <td>未来を創造する力、インキュベーション・オフィスを開設</td>
      </tr>
      <tr>
        <td>2013/06/07</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "GTIC スーパープレゼンテーションに行ってきました！", "http://www.myeyestokyo.jp/6849", target: :blank %></td>
      </tr>
      <tr>
        <td>2013/02/18</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "「傷だらけの英語習得術」秋山智紀さん", "http://www.myeyestokyo.jp/6494", target: :blank %></td>
      </tr>
      <tr>
        <td>2012/06/28</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "秋山智紀さん & GTIC", "http://www.myeyestokyo.jp/4464", target: :blank %></td>
      </tr>
      <tr>
        <td>2012/06/28</td>
        <td>My eyes Tokyo</td>
        <td><%= link_to "Tomo Akiyama & GTIC", "http://www.myeyestokyo.com/4384", target: :blank %></td>
      </tr>
      <tr>
        <td>2012/01/23</td>
        <td>金融ファクシミリ新聞</td>
        <td><%= link_to "財務人 第14回「イノベーション・カフェを開催」", "http://docs.com/HJRL", target: :blank %>
      </tr>
      <tr>
        <td>2011/11/22</td>
        <td>DEALWATCH ロイター</td>
        <td><%= link_to "Equity Market Pointer: 日本のベンチャーを元気に　人材交流の場「GTIC」開催", "http://ja.scribd.com/doc/73568177/20111122dealwatchgtic%E7%AC%AC1%E5%9B%9E", target: :blank %></td>
      </tr>
    </table>
    <br><br><br>
    <h1>CHIEF ORGANIZER'S ACTIVETY</h1>
    <table class="table">
      <tr>
        <th>Date</th>
        <th>Activetys</th>
      </tr>
      <tr>
        <td>2015/02/21</td>
        <td><%= link_to "大阪大学 博士課程 超域イノベーション・プログラム", "http://www.cbi.osaka-u.ac.jp/choikijijo/article/school20th/", target: :blank %></td>
      </tr>
      <tr>
        <td>2014/12/13</td>
        <td><%= link_to "沖縄科学技術大学院大学(OIST)　起業家人材育成プログラム(Entrepreneurial Training Program)", "https://groups.oist.jp/ja/bds/event/2014-entrepreneurial-training-program-day-3", target: :blank %></td>
      </tr>
      <tr>
        <td>2014/07/09</td>
        <td><%= link_to "BBT大学 資産形成力養成講座 @東京（市ヶ谷） セミナー『元外資系インベストメントバンカーが解説する資産運用の仕組みと本質』", "http://www.ohmae.ac.jp/ex/asset/guide/event/996/http://www.cbi.osaka-u.ac.jp/choikijijo/article/school20th/", target: :blank %></td>
      </tr>
    </table>
  </div>
</div>
