<div class="section">
  <div class="container">
    <h1>MESSAGE <small>FROM THE CHIEF ORGANIZER</small></h1>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <img alt="TOMO Akiyama" src="/assets/akiyama1.png" height="230" width="300" />
        <h2>秋山 智紀  GTIC Chief Organizer</h2>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="well well-small">
          <h3><center>分野・国籍・年齢を超えて、コミュニケーションをとり、<br>具体的に一歩踏み出そう！！</center></h3>
          <p>
          私がMBAの大学院生として2年間を過ごしたMIT(マサチューセッツ工科大学)で運営されていたスタートアップのためのエコシステムを作りたいと思い、スタートアップを中心にして、VCや、エンジェルなどの投資家、またそれらベンチャービジネスに関係する弁護士、会計士、エンジニア、デザイナー、ベンチャーと提携を探っている大企業の方々などのプレーヤーたちが集まれる「場」を日本にも作りたいと思い、2011年に立ち上げたプラットフォーム がGTIC (Global Techno Innovation Cafe)です。 上記がそのGTICの設立ポリシーです。
          </p>
          <p>
          Cafe と名前はついていますが、本当のカフェではありません。 一見ばかげているような発想や革新的なアイディアは、堅苦しい会議よりも、食事をしながら、飲みながら自由に会話を交わすような雰囲気の中からこそ出てくる、との信念で、イベント開催時には必ず、飲食付きのパーティを用意して参加者同士でわいわい意見交換をできるように、とCafeとつけました。 本当はBarにしたかったのですが、ムスリムの方々(彼らは飲酒禁止です。)が参加するこもあったので、あえてCafeというネーミングにしました。 また、それらイスラム教の方々の参加のため、GTICでは第1回から一度も欠かさず、ハラル料理を用意しています。(さすがにムスリムの方々には目をつぶってもらい、懇親会ではお酒は提供しています。)
          </p>
          <p>
          私が”多様性”を重視するようになったきっかけは上記MITのビジネススクールへの留学でした。クラス初日に教室に入ると、様々な色の肌や髪が目に飛び込んできました。 しかもユダヤ教のキッパなど、宗教的な帽子を頭に付けている人たち・・・それまでの私は、そのような光景を学内はおろか、身近に見たことがありませんでした。小学校から高校までは、クラスメイトは全員日本人でしたし、私が通った日本の大学や大学院には外国からの留学生はいたものの、ごくわずかでした。
          </p>
          <p>
          一方MITのビジネススクールでアメリカ人以外の外国人学生が占める割合は、私が在籍していた当時で約38％。先日来日していた学長に直接聞いたところ、今では42％まで上昇しているとのことでした。これはアメリカの大学の中でも特に高い比率なのですが、つまりは最前線で活躍する、または最近まで活躍していた、世界中から集まった多くのビジネスマンたちが一同に会して、丁々発止の議論をするわけです。 MIT時代に私が所属したスタディー・グループ、つまりクラスの中の班のようなものですが、7人いたメンバーの国籍はアメリカ、ブラジル、ベネズエラ、南アフリカ、そして日本でした。 彼らからは、斬新と言えば聞こえは良いけども、よくもそんなアイディアをみんなの前で堂々と言えるなというような、奇抜なアイデアが突拍子の無いタイミングで、ばんばん出てくる。逆に日本人にとっては当たり前のことが、彼らにとっては当たり前ではなかったり・・・そんなことがよくありました。
          </p>
          <p>
          また、私がMITを卒業後、在籍していた全ての外資系投資銀行では、毎日カンファレンス・コール（電話会議）をしていました。夏時間と冬時間では違いますが、東京の夕方4時または5時頃、つまりユーロ市場が開く時間に、世界各都市のオフィスの外国人の同僚たちと電話会議で意見交換をしました。それにより世界のマーケットでどんなディール（取引）が儲かっているのかが、毎日リアルタイムで把握できました。また、多い時には月に5回も海外出張に行っていたこともありました。
          </p>
          <p>
          正直言って、国籍や年齢を含め、多種多様な人々が集まるイベントやミーティングに母国語以外の言語で参加することに、時々疲れを感じます。バックグラウンドは違うし、常識も違うから、ストレスも想像以上に溜まります。先ほど申し上げた、GTICでのイスラム教徒の方々のためのハラル料理の用意も結構大変です。 毎回GTICのスケジュールや、アンケートも日本語、英語の併記も準備が大変です。 でもそういった多様性の集まりの中でのコミュニケーションから、時々「へえー！」と思うアイデアが生まれ、新しいビジネス、投資案件、人材の流動化、また大企業とスタートアップの提携などなど、がGTICの参加者同士の会話から生まれてきました。
          </p>
          <p>
          「はちゃめちゃ」なアイデアや破壊的創造につながるアイデアは、同質の日本人同士や同じバックグラウンドを持つメンバーからは生まれにくい。「あうんの呼吸」とか「これを言ったらちょっと失礼になるかも」「今更、恥ずかしくて聞けない」などと言っていては、世界をあっと言わせるアイデアは出て来ないと思います。
          </p>
          (<%= link_to "My Eyes Tokyoのインタビュー記事", "http://gtic.jp/media", target: :blank %>を元に一部加筆・修正)
        </div>
      </div>
    </div>


    <h1>Organizer</h1>
    <% @organizers.each do |organizer| %>
      <% if organizer.active_flg %>
        <% if organizer.id == 44 %><% next %><% end %>

        <div class="row">
          <div class="col-md-4">
            <%= image_tag "https://graph.facebook.com/#{organizer.uid}/picture?height=200&width=200" %>
          </div>
          <div class="col-md-8">
            <div class="col">
              <h3>
                <%= get_member_name(organizer.member_id) %>
                <br><small><%= organizer.name %></small>
              </h3>
            </div>
            <div class="col">
              <A HREF="JavaScript:hiraku('tuzuki-<%= organizer.id %>');">▼略歴</A><BR>
              <DIV CLASS="tuzukiwaku" ID="tuzuki-<%= organizer.id %>">
                <p><%= organizer.description %></p>
                <A href="JavaScript:tatamu('tuzuki-<%= organizer.id %>');">閉じる</A>
              </DIV>
            </div>
          </div>
        </div>

      <% end %>
    <% end %>

    <h1>過去の幹事たち</h1>
    <% @organizers.reverse_each do |organizer| %>
      <% if not organizer.active_flg %>
        <% if organizer.id == 44 %><% next %><% end %>

        <div class="row">
          <div class="col-md-4">
            <%= image_tag "https://graph.facebook.com/#{organizer.uid}/picture?height=100&width=100" %>
          </div>
          <div class="col-md-8">
            <div class="col">
              <h3>
                <%= get_member_name(organizer.member_id) %>
                <br><small><%= organizer.name %></small>
              </h3>
            </div>
            <div class="col">
              <A HREF="JavaScript:hiraku('tuzuki-<%= organizer.id %>');">▼略歴</A><BR>
              <DIV CLASS="tuzukiwaku" ID="tuzuki-<%= organizer.id %>">
                <p><%= organizer.description %></p>
                <A href="JavaScript:tatamu('tuzuki-<%= organizer.id %>');">閉じる</A>
              </DIV>
            </div>
          </div>
        </div>

      <% end %>
    <% end %>

  </div>
</div>

<%= stylesheet_link_tag "static_page", :media => "all" %>
