<div class="section">
  <div class="container">
    <h1>Organizers</h1>
    <% @organizers.each do |organizer| %>
      <% if organizer.active_flg %>
        <% if organizer.id == 44 %><% next %><% end %>

        <div class="row">
          <div class="col-md-4">
            <%= image_tag "https://graph.facebook.com/#{organizer.uid}/picture?height=200&width=200" %>
          </div>
          <div class="col-md-8">
            <div class="col">
              <h3>
                <%= get_member_name(organizer.member_id) %>
                <br><small><%= organizer.name %></small>
              </h3>
            </div>
            <div class="col">
              <A HREF="JavaScript:hiraku('tuzuki-<%= organizer.id %>');">▼略歴</A><BR>
              <DIV CLASS="tuzukiwaku" ID="tuzuki-<%= organizer.id %>">
                <p><%= organizer.description %></p>
                <A href="JavaScript:tatamu('tuzuki-<%= organizer.id %>');">閉じる</A>
              </DIV>
            </div>
          </div>
        </div>

      <% end %>
    <% end %>

    <h1>過去の幹事たち</h1>
    <% @organizers.reverse_each do |organizer| %>
      <% if not organizer.active_flg %>
        <% if organizer.id == 44 %><% next %><% end %>

        <div class="row">
          <div class="col-md-4">
            <%= image_tag "https://graph.facebook.com/#{organizer.uid}/picture?height=100&width=100" %>
          </div>
          <div class="col-md-8">
            <div class="col">
              <h3>
                <%= get_member_name(organizer.member_id) %>
                <br><small><%= organizer.name %></small>
              </h3>
            </div>
            <div class="col">
              <A HREF="JavaScript:hiraku('tuzuki-<%= organizer.id %>');">▼略歴</A><BR>
              <DIV CLASS="tuzukiwaku" ID="tuzuki-<%= organizer.id %>">
                <p><%= organizer.description %></p>
                <A href="JavaScript:tatamu('tuzuki-<%= organizer.id %>');">閉じる</A>
              </DIV>
            </div>
          </div>
        </div>

      <% end %>
    <% end %>

  </div>
</div>

<%= stylesheet_link_tag "static_page", :media => "all" %>
