<div class="section">
  <div class="container">
    <h1>MESSAGE <small>FROM THE CHIEF ORGANIZER</small></h1>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <img alt="TOMO Akiyama" src="/assets/akiyama1.png" height="230" width="300" />

        <h2>秋山 智紀  GTIC Chief Organizer</h2>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="well well-small">
          <p>
          <h3><center>分野・国籍・年齢を超えて、コミュニケーションをとり、<br>具体的に一歩踏み出そう！！</center></h3>
          </p><br>
          <p>
          私がMBAの大学院生として2年間を過ごしたMIT(マサチューセッツ工科大学)で運営されていたスタートアップのためのエコシステムを作りたいと思い、スタートアップを中心にして、VCや、エンジェルなどの投資家、またそれらベンチャービジネスに関係する弁護士、会計士、エンジニア、デザイナー、ベンチャーと提携を探っている大企業の方々などのプレーヤーたちが集まれる「場」を日本にも作りたいと思い、2011年に立ち上げたプラットフォーム がGTIC (Global Techno Innovation Cafe)です。 上記がそのGTICの設立ポリシーです。
          </p>
          <p>
          Cafe と名前はついていますが、本当のカフェではありません。 一見ばかげているような発想や革新的なアイディアは、堅苦しい会議よりも、食事をしながら、飲みながら自由に会話を交わすような雰囲気の中からこそ出てくる、との信念で、イベント開催時には必ず、飲食付きのパーティを用意して参加者同士でわいわい意見交換をできるように、とCafeとつけました。 本当はBarにしたかったのですが、ムスリムの方々(彼らは飲酒禁止です。)が参加するこもあったので、あえてCafeというネーミングにしました。 また、それらイスラム教の方々の参加のため、GTICでは第1回から一度も欠かさず、ハラル料理を用意しています。(さすがにムスリムの方々には目をつぶってもらい、懇親会ではお酒は提供しています。)
          </p>
          <p>
          私が”多様性”を重視するようになったきっかけは上記MITのビジネススクールへの留学でした。クラス初日に教室に入ると、様々な色の肌や髪が目に飛び込んできました。 しかもユダヤ教のキッパなど、宗教的な帽子を頭に付けている人たち・・・それまでの私は、そのような光景を学内はおろか、身近に見たことがありませんでした。小学校から高校までは、クラスメイトは全員日本人でしたし、私が通った日本の大学や大学院には外国からの留学生はいたものの、ごくわずかでした。
          </p>
          <p>
          一方MITのビジネススクールでアメリカ人以外の外国人学生が占める割合は、私が在籍していた当時で約38％。先日来日していた学長に直接聞いたところ、今では42％まで上昇しているとのことでした。これはアメリカの大学の中でも特に高い比率なのですが、つまりは最前線で活躍する、または最近まで活躍していた、世界中から集まった多くのビジネスマンたちが一同に会して、丁々発止の議論をするわけです。 MIT時代に私が所属したスタディー・グループ、つまりクラスの中の班のようなものですが、7人いたメンバーの国籍はアメリカ、ブラジル、ベネズエラ、南アフリカ、そして日本でした。 彼らからは、斬新と言えば聞こえは良いけども、よくもそんなアイディアをみんなの前で堂々と言えるなというような、奇抜なアイデアが突拍子の無いタイミングで、ばんばん出てくる。逆に日本人にとっては当たり前のことが、彼らにとっては当たり前ではなかったり・・・そんなことがよくありました。
          </p>
          <p>
          また、私がMITを卒業後、在籍していた全ての外資系投資銀行では、毎日カンファレンス・コール（電話会議）をしていました。夏時間と冬時間では違いますが、東京の夕方4時または5時頃、つまりユーロ市場が開く時間に、世界各都市のオフィスの外国人の同僚たちと電話会議で意見交換をしました。それにより世界のマーケットでどんなディール（取引）が儲かっているのかが、毎日リアルタイムで把握できました。また、多い時には月に5回も海外出張に行っていたこともありました。
          </p>
          <p>
          正直言って、国籍や年齢を含め、多種多様な人々が集まるイベントやミーティングに母国語以外の言語で参加することに、時々疲れを感じます。バックグラウンドは違うし、常識も違うから、ストレスも想像以上に溜まります。先ほど申し上げた、GTICでのイスラム教徒の方々のためのハラル料理の用意も結構大変です。 毎回GTICのスケジュールや、アンケートも日本語、英語の併記も準備が大変です。 でもそういった多様性の集まりの中でのコミュニケーションから、時々「へえー！」と思うアイデアが生まれ、新しいビジネス、投資案件、人材の流動化、また大企業とスタートアップの提携などなど、がGTICの参加者同士の会話から生まれてきました。
          </p>
          <p>
          「はちゃめちゃ」なアイデアや破壊的創造につながるアイデアは、同質の日本人同士や同じバックグラウンドを持つメンバーからは生まれにくい。「あうんの呼吸」とか「これを言ったらちょっと失礼になるかも」「今更、恥ずかしくて聞けない」などと言っていては、世界をあっと言わせるアイデアは出て来ないと思います。
          </p>
          (<%= link_to "My Eyes Tokyoのインタビュー記事", "http://gtic.jp/media", target: :blank %>を元に一部加筆・修正) 
        </div>
      </div>
    </div>
    <h1>Organizer</h1>
    <table class="table">
      <tr>
        <td><%= image_tag "https://graph.facebook.com/1192373388/picture?type=large" %></td>
        <td><h3><nobr>秋山智紀</nobr><br><small>Tomo AKIYAMA</small></h3></td>
        <td>
        <A HREF="JavaScript:hiraku('tuzuki1');">▼略歴</A><BR>
        <DIV CLASS="tuzukiwaku" ID="tuzuki1">
	<p>
	『分野・国籍・年齢を超えて具体的に一歩踏み出す』をスローガンにしている起業家集団GTIC（Global Techno Innovation Cafe）の創設者・代表。
	</p>
        <p>
        東京工業大学・大学院で電気電子工学を専攻。集積回路LSIの自動設計の研究に従事。 在学中に経営戦略コンサルティング会社マッキンゼーでのインターンでの経験に触発され、卒業後金融業界に進む。その後米MITのMBA留学。在学中にリーマン・ブラザーズの香港・東京オフィスでインターンを経験。
        </p>
        <p>
        卒業後、米系投資銀行であるメリルリンチ証券、欧州投資銀行UBS証券などでシンジケート部門の責任者を歴任。その後、MITのクラスメート等とともにVCファンド複数社の経営への参画を経て、現在はメリルリンチ時代に個人として始めたエンジェル投資活動とともにスタートアップ・アクセラレーターとして活動。
        </p>
        <p>
        全世界に散らばるMITのOBで組織しているMIT エンタープライズ・フォーラムの日本支部MIT-VFJや米国NPOのStartup Weekendの審査員やメンターなども務める。　沖縄科学技術大学大学院、静岡大学、青山学院大学、法政大学、テンプル大学、大阪大学などで国際経済、ファイナンス戦略、アントレプレナーシップ論等の講師も務める。
        </p>
        </td>
        <A href="JavaScript:tatamu('tuzuki1');"></A></DIV>
       </tr>
      <tr>
        <td><%= image_tag "https://graph.facebook.com/100001781966894/picture?type=large" %></td>
        <td><h3>清水雅士<br><small>Masashi SHIMIZU</small></h3></td>
        <td>
        <A HREF="JavaScript:hiraku('tuzuki2');">▼略歴</A><BR>
        <DIV CLASS="tuzukiwaku" ID="tuzuki2">
        <p>
        2013年東京理科大学大学院で生物工専攻を修了。工学修士。
        </p>
        <p>
        大学院卒業後は大手通信系商社勤務を経て、2014年よりバイオリファイナリー技術を専門とするバイオベンチャーであるGreen Earth Institteに勤務。バイオリファイナリーの商業化に向けた研究開発/事業計画に携わる。
        </p>
        <p>
        GTICには大学院在籍中の2012年4月より幹事として参画。
        </p>
        </td><A href="JavaScript:tatamu('tuzuki2');"></A></DIV>
      </tr>
      <tr>
        <td><%= image_tag "https://graph.facebook.com/100006804493034/picture?type=large" %></td>
        <td><h3>古川一貴<br><small>Kazuki FURUKAWA</small></h3></td>
        <td>
        <A HREF="JavaScript:hiraku('tuzuki3');">▼略歴</A><BR>
        <DIV CLASS="tuzukiwaku" ID="tuzuki3">
        <p>
        横浜国立大学経営学部3年生。大学では主に経営システム管理を専攻。2年次に、太陽光ビジネスをしているベンチャーにてインターンを経験。クリーンテックについてや、webページの運用の仕方について学ぶ。GTICには2014年4月より幹事として参画。現在、当HPの管理を担当。</a>
        </p>
        </td>
        <A href="JavaScript:tatamu('tuzuki3');"></A></DIV>
      </tr>
      <tr>
        <td><%= image_tag "https://graph.facebook.com/100005576163874/picture?type=large" %></td>
        <td><h3>中村伊吹<br><small>Ibuki NAKAMURA</small></h3></td>
        <td>
        <A HREF="JavaScript:hiraku('tuzuki4');">▼略歴</A><BR>
        <DIV CLASS="tuzukiwaku" ID="tuzuki4">
        <p>
        慶應義塾大学環境情報学部3年。大学では上山信一研究会に所属し、社会科学を専攻。某IT系ベンチャー企業にてコンテンツプロデューサーを務める。2014年9月よりGTICに参画。</p>
        </td>
        <A href="JavaScript:tatamu('tuzuki4');"></A></DIV>
      </tr>
      <tr>
        <td><%= image_tag "/assets/tokue_profilephoto.jpg"%></td>
        <td><h3>徳江俊樹<br><small>Toshiki TOKUE</small></h3></td>
        <td>
        <A HREF="JavaScript:hiraku('tuzuki5');">▼略歴</A><BR>
        <DIV CLASS="tuzukiwaku" ID="tuzuki5">
        <p>
        早稲田大学政治経済学部2年生。1年次に一般社団法人Bizjapanにて世界12カ国15団体とのネットワークを活かし、海外学生が参加する「アントレプレナーシップ」をテーマにした1週間の国際サミットを開催。日本の"のびしろ"を世界に発信するべく活動。本年度から同団体の代表に就任。2015年6月よりGTICに参画。
        </p>
        </td>        
        <A href="JavaScript:tatamu('tuzuki5');"></A></DIV>
      </tr>
    </table>
  </div>
</div>

<%= stylesheet_link_tag "static_page", :media => "all" %>