<div class="section">
  <div class="container">
    <h1>PRESENTER</h1>
    <table class="table">
      <tr>
        <th class="col-md-1">Event</th>
        <th class="col-md-1">Date</th>
        <th class="col-md-2">Presenter</th>
        <th class="col-md-4">title</th>
      </tr>
      <% @events.each do |event| %>
        <% if event[:detail].length == 0 %>
          <tr>
            <td><%= event[:event][:name] %></td>
            <td><%= event[:event][:date] %></td>
            <td></td>
            <td></td>
          </tr>
        <% elsif event[:detail].length >= 1 %>
          <% i=0 %>
          <% event[:detail].each do |detail| %>
            <tr>
              <% if i == 0 %>
                <%= content_tag :td, event[:event][:name], rowspan: event[:detail].length %>
                <%= content_tag :td, event[:event][:date], rowspan: event[:detail].length %>
              <% end %>
              <td><%= "#{detail[:affiliation]}" %><br><%= "#{detail[:title]} #{detail[:name]} æ°" %></td>
              <td><%= "#{detail[:presentation_title]}" %></td>
            </tr>
            <% i += 1 %>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
