<div class="row">
  <aside class="col-lg-2">
  </aside>
  <div class="col-lg-5">
    <h2>User情報</h2>
    <%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
      <div class="form-group">
        <%= f.label :name, "Name", class: 'col-sm-4 control-label' %>
        <div class="col-sm-6">
          <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
          <%= @user.errors.messages[:name][0] if @user.errors.any?%>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :email, "Email", class: 'col-sm-4 control-label' %>
        <div class="col-sm-6">
          <%= f.text_field :email, placeholder: "Name", class: "form-control" %>
          <%= @user.errors.messages[:email][0] if @user.errors.any?%>
        </div>
      </div>
      <% if admin? %>
        <div class="form-group">
          <%= f.label :language, "*Language", class: 'col-sm-4 control-label' %>
          <div class="col-sm-6">
            <%= f.text_field :language, placeholder: "0 or 1", class: "form-control" %>
            <%= @user.errors.messages[:language][0] if @user.errors.any?%>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :uid, "Facebook ID", class: 'col-sm-4 control-label' %>
          <div class="col-sm-6">
            <%= f.text_field :uid, placeholder: "0000000000000", class: "form-control" %>
            <%= @user.errors.messages[:uid][0] if @user.errors.any?%>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-6">
          <%= f.submit "送信", class: "btn btn-primary btn-block" %> 
        </div>
      </div>
    <% end %>
  </div>
</div>
