<div class="row">
  <aside class="col-lg-2">
  </aside>

  <div class="col-lg-10">
    <h2>User情報</h2>

    <% if admin? %>
      <div><%= link_to "新規追加", new_user_path, class: "btn btn-primary" %></div>
    <% end %>

    <table class="table table-bordered">
      <tr>
        <th class="col-md-1">ID</th>
        <th class="col-md-2">Name</th>
        <th class="col-md-1">Facebook ID</th>
        <th class="col-md-1">Member ID</th>
        <% if admin? %>
          <th class="col-md-1">Active（管理者画面にアクセス可能）</th>
          <th class="col-md-1">Admin（管理者画面を変更可能）</th>
        <% end %>
        <th class="col-md-3">Description（ここを変更すると、幹事紹介ページに反映）</th>
        <th></th>
      </tr>

      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.uid %></td>
          <td><%= link_to user.member_id, "/members/#{user.member_id}" %></td>
          <% if admin? %>
            <td><%= select_active(user) %></td>
            <td><%= select_admin(user) %></td>
          <% end %>
          <td><%= user.description[0..9] + "..." if user.description.present? %></td>
          <td><%= link_to "編集", edit_user_path(user) %></td>
        </tr>
      <% end %>
    </table>

    <% if admin? %>
      <div><%= link_to "update users' information from MEMBERs' data", update_users_users_path, method: "post", class: "btn btn-default" %></div>
    <% end %>

  </div>
</div>
