<div class="row">
  <aside class="col-lg-2">
  </aside>
  <div class="col-lg-10">
    <h2>User情報</h2>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Facebook ID</th>
        <th>Member ID</th>
        <th>Admin</th>
        <th></th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.uid %></td>
          <td><%= user.member_id %></td>
          <td><%= user.admin %></td>
          <td><%= link_to "編集", edit_user_path(user) %></td>
        </tr>
      <% end %>
    </table>
    <div><%= link_to "新規追加", new_user_path %></div>
  </div>
</div>
