<div class="row">
  <div class="col-md-2">
    <%= render'side_for_staff' %>
  </div>

  <div class="col">
    <h2>User情報</h2>
    <p>Facebookでログインしたユーザのリスト。このリストはStaff以外は見れない</p>

    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Facebook ID</th>
          <th scope="col">Member ID</th>
          <th scope="col" style="width: 5%;"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.uid %></td>
            <td><%#= link_to user.member_id, "/members/#{user.member_id}" %></td>
            <td><%= link_to "編集", edit_user_path(user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
