<div class="row">
  <div class="col-md-2">
    <%= render 'side_for_user' %>
  </div>

  <div class="col">
    <h2>今後のイベント</h2>

    <% @events.each do |event| %>

      <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <!--<img class="card-img-top" src="..." alt="Card image cap">-->
            </div>

            <div class="col-7">
              <p class="card-title">
                <%= link_to show_event_users_path(event_id: event[:event][:id]) do %>
                  <%= "#{event[:event][:name]}" %><%= "本会" if event[:event][:event_category_id] == 1 %>
                <% end %>
              </p>

              <% if event[:detail] %>
                <% event[:detail].sort_by{|e| e[:id]}.each do |detail| %>
                  <li>
                    <mark><%= detail[:title] %></mark><br>
                    <% detail[:presenter].reverse_each do |presenter| %>
                      <strong><%= presenter[:affiliation] %></strong> <%= " " + presenter[:title] + " " + presenter[:name] + " " + "氏" %>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </div>

            <div class="col-1">
              <%= link_to "参加登録", show_event_users_path(event_id: event[:event][:id]), class: 'btn btn-outline-info' %>
            </div>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>
