<div class="row">
  <div class="col-md-2">
    <%= render 'side_for_user' %>
  </div>

  <div class="col">
    <center>

      <h1>My Page</h1>

      <div class="center">
        <p><%= t('user.welcome') %> <%= "#{@user.name}" %> <%= t('user.name_suffix')%></p>
      </div>

      <div class="fb-page" data-href="https://www.facebook.com/GTICafe/"
        data-tabs="events" data-width="500" data-height="" data-small-header="false"
        data-adapt-container-width="true" data-hide-cover="false"
        data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/GTICafe/" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/GTICafe/">
            Global Techno Innovation Cafe (GTIC)
          </a>
        </blockquote>
      </div>


      <div class="row">
        <%= render 'static_pages/events' %>
      </div>


      <h2>My Profile</h2>
      <% if @user.last_name %>
        <table class="table table-bordered">
          <tr>
            <th style="width: 20%;">Name</th>
            <td><%= @user.last_name + ' ' + @user.first_name %> <small><%= @user.last_name_alphabet + ' ' + @user.first_name_alphabet %></small></td>
          </tr>

          <tr>
            <th>Work</th>
            <td><%= Category.find(@user.category_id).name if @user.category_id.present? %> <%= @user.affiliation %> <%= @user.title %></td>
          </tr>

          <tr>
            <th>Email</th>
            <td><%= @user.email %></td>
          </tr>
        </table>

        <h3>イベント参加情報</h3>
        <table class="table table-bordered">
          <tr>
            <th style="width: 20%;">イベント参加回数</th>
            <td><%#= member.participated_events.count %></td>
          </tr>
        </table>

      <% else %>
        <p><%= t('user.please_complete_profile') %></p>
      <% end %>

      <% if @user.last_name %>
        <%= link_to t('user.edit_profile'), edit_user_path(current_user), class: "btn btn-info" %>
      <% else %>
        <%= link_to t('user.input_profile'), edit_user_path(current_user), class: "btn btn-info" %>
      <% end %>

      <% if staff_signed_in? %>
        <%= link_to "Delete user", user_path(@user), class: "btn btn-danger",
          method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %>
      <% end %>
    </center>
  </div>
</div>
