<div class="col-lg-4", id="pos-container">
  <h2>収入</h2>
  <table class="table">
    <tr>
      <th class="col-md-4">科目</th>
      <th class="col-md-4 currency">金額</th>
      <th class="col-xs-1"><%= link_to "収入追加", new_register_path(event_id: @event.id, positive: true), class:"btn btn-light btn-xs", remote: true %></th>
    </tr>
    <% @registers_pos.each do |register| %>
      <tr>
        <td><%= Account.find(register.account_id).title %></td>
        <td class="currency"><%= show_currency(register.amount) %></td>
        <td><%= link_to "削除", register_path(register), method: :delete %> </td>
      </tr>
    <% end %>
    <tr>
      <th>合計</th>
      <th class="currency"><%= show_currency(@registers_pos.sum(:amount)) %></th>
      <td></td>
    </tr>
  </table>
  <div id="pos-form"></div>
</div>
<div class="col-lg-4", id="neg-container">
  <h2>支出</h2>
  <table class="table">
    <tr>
      <th class="col-md-4">科目</th>
      <th class="col-md-4 currency">金額</th>
      <th class="col-xs-1"><%= link_to "支出追加", new_register_path(event_id: @event.id, positive: false), class:"btn btn-light btn-xs", remote: true %></th>
    </tr>
    <% @registers_neg.each do |register| %>
      <tr>
        <td><%= Account.find(register.account_id).title %></td>
        <td class="currency"><%= show_currency(register.amount) %></td>

        <td><%= link_to "削除", register_path(register), method: :delete %> </td>
      </tr>
    <% end %>
    <tr>
      <th>合計</th>
      <th class="currency"><%= show_currency(@registers_neg.sum(:amount)) %></td>

      <td></td>
    </tr>
  </table>
  <div id="neg-form"></div>
</div>
<div class="col-lg-2">
<h2>営業利益</h2>
  <table class="table">
    <tr>
      <th class="col-md-1">合計</th>
      <th class="col-md-1 currency"><%= show_currency(@registers_pos.sum(:amount)-@registers_neg.sum(:amount)) %></th>
    </tr>
  </table>
</div>


