<h2><%= @title %></h2>

<%= form_for @event, :html => { :class => 'form-horizontal center' } do |f| %>
  <div class="form-group row">
    <%= f.label :name, 'イベント名', class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= f.text_field :name, class: "form-control", :required => 'required' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :cumulative_number, '通算#', class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= f.text_field :cumulative_number, class: "form-control", :required => 'required' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :start_time, '開始日時', class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= f.datetime_select :start_time, {minute_step: 15, start_hour: 19}, {class: "form-control"} %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :end_time, '終了日時', class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= f.datetime_select( :end_time, {discard_month: true, discard_year: true, minute_step: 15, start_hour: 22}, {class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :place_id, '会場', class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= select_tag nil, options_from_collection_for_select(Place.all, :id, :name, @event.place_id), name:"event[place_id]", class: "form-control", include_blank: true %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :event_category_id, 'イベントタイプ', class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= select_tag nil, options_from_collection_for_select(EventCategory.all, :id, :name, @event.event_category_id), name:"event[event_category_id]", class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :fee, '参加費', class: 'col-sm-6' %>
    <div class="col-sm-6">
        <%= f.number_field :fee, class: "form-control", :value => 5000 %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :fb_event_id, 'https://www.facebook.com/events/', class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= f.text_field :fb_event_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :note, '備考', class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= f.text_area :note, class: "form-control" %>
    </div>
  </div>

  <%= f.submit class: "btn btn-large btn-primary btn-block" %>
<% end %>
