<%= form_for @event, :html => { :class => 'form-horizontal center' } do |f| %>
  <div class="control-group"> 
    <%= f.label :name, 'イベント名', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group"> 
    <%= f.label :date, '開催日', class: 'control-label' %>
    <div class="controls">
      <%= f.date_field :date %>
    </div>
  </div>
  <div class="control-group"> 
    <%= f.label :start_time, '開始時刻', class: 'control-label' %>
    <div class="controls">
      <%= f.time_field :start_time %>
    </div>
  </div>
  <div class="control-group"> 
    <%= f.label :place, '会場', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :place %>
    </div>
  </div>
  <div class="control-group"> 
    <%= f.label :fee, '参加費', class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :fee %>
    </div>
  </div>
  <div class="control-group"> 
    <%= f.label :url, 'URL', class: 'control-label' %>
    <div class="controls">
      <%= f.url_field :url %>
    </div>
  </div>

  <%= f.submit "送信", class: "btn btn-large btn-primary btn-block" %> 
<% end %>
