<table class="table table-hover table-bordered">
  <tr>
    <th class="col-md-1">イベント名</th>
    <th class="col-md-1">開催日</th>
    <th class="col-md-2">プレゼンター</th>
    <th class="col-md-4">タイトル</th>
    <th class="col-md-1">会場</th>
  </tr>
  <% @events.each do |event| %>
    <% if event[:detail].length == 0 %>
      <tr>
        <td><%= link_to event[:event][:name], event_path(event[:event][:id]) %></td>
        <td><%= event[:event][:date] %></td>
        <td></td>
        <td></td>
        <td><%= Place.find(event[:event][:place]).name if event[:event][:place].present? and Place.where(id: event[:event][:place]).present? %></td>
      </tr>
    <% elsif event[:detail].length >= 1 %>
      <% i=0 %>
      <% event[:detail].each do |detail| %>
        <tr>
          <% if i == 0 %>
            <%= content_tag :td, rowspan: event[:detail].length do %>
              <%= link_to event[:event][:name], event_path(event[:event][:id]) %>
            <% end %>
            <%= content_tag :td, event[:event][:date], rowspan: event[:detail].length %>
          <% end %>
          <td><%= "#{detail[:affiliation]}" %><br><%= "#{detail[:title]} #{detail[:name]} 氏" %></td>
          <td><%= "#{detail[:presentation_title]}" %></td>
          <% if i == 0 %>
            <%= content_tag :td, rowspan: event[:detail].length do %>
              <%= Place.find(event[:event][:place]).name if event[:event][:place].present? and Place.where(id: event[:event][:place]).present? %></td>
            <% end %>
          <% end %>
        </tr>
        <% i += 1 %>
      <% end %>
    <% end %>
  <% end %>
</table>

