<%= form_for @event, :html => { :class => 'form-horizontal center' } do |f| %>
  <div class="control-group"> 
    <%= f.label :name, 'イベント名', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group"> 
    <%= f.label :start_time, '開始日時', class: 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :start_time, minute_step: 15, start_hour: 17%>
    </div>
  </div>
  <div class="control-group"> 
    <%= f.label :end_time, '終了日時', class: 'control-label' %>
    <div class="controls">
      <%= f.datetime_select( :end_time, discard_month: true, discard_year: true, minute_step: 15, start_hour: 17 ) %>
    </div>
  </div>
  <div class="control-group"> 
    <%= f.label :place_id, '会場', class: 'control-label' %>
    <div class="controls">
      <% @places = Place.all %>
      <%= f.select :place_id, @places.map{|t| [t.name, t.id]} %>
    </div>
  </div>
  <div class="control-group"> 
    <%= f.label :fee, '参加費', class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :fee %>
    </div>
  </div>
  <div class="control-group"> 
    <%= f.label :fb_event_id, 'https://www.facebook.com/events/', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :fb_event_id %>
    </div>
  </div>

  <%= f.submit "送信", class: "btn btn-large btn-primary btn-block" %> 
<% end %>
