<table class="table table-hover table-bordered">
  <tr>
    <th>イベント名</th>
    <th>開催日</th>
    <th>プレゼンター</th>
    <th></th>
    <th></th>
  </tr>
  <% @events.each do |event| %>
    <tr>
    <td><%= event.name %></td>
    <td><%= show_date(event.start_time) %></td>
    <td><%= event.presenters.map{|presenter| presenter.affiliation}.join(", ") %> </td>
    <td><%= link_to '詳細', event_path(event) ,class: "btn btn-small btn-primary btn-block"%></td>
    <td><%= link_to 'fb更新', update_facebook_event_path(id: event, rsvp_status: "attending") ,class: "btn btn-small btn-primary btn-block", method: "post" %></td>
  </tr>
<% end %>
</table>

