<table class="table table-bordered">
  <tr>
    <th>イベント名</th>
    <td><%= link_to @event.name, "https://www.facebook.com/events/#{@event.fb_event_id}", target: 'blank' %></td>
  </tr>
  <tr>
    <th>開始日時</th>
    <td><%= @event.start_time %></td>
  </tr>
  <tr>
    <th>会場</th>
    <td><%= Place.find(@event.place_id).name if @event.place_id.present? and Place.where(id: @event.place_id).present?%></td>
  </tr>
  <tr>
    <th>イベントタイプ</th>
    <td><%= EventCategory.find(@event.event_category_id).name if @event.event_category_id.present? and EventCategory.where(id: @event.event_category_id).present? %></td>
  <tr>
    <th>参加費</th>
    <td><%= show_currency(@event.fee) %></td>
  </tr>
  <tr>
    <th>備考</th>
    <td><%= @event.note %></td>
  </tr>
  <tr>
    <th>イベントURL</th>
    <td><%= link_to truncate("https://www.facebook.com/events/#{@event.fb_event_id}",length:50), "https://www.facebook.com/events/#{@event.fb_event_id}", target: :blank %></td>
  </tr>
  <% if @event.presenters.present? %>
    <% i = 1 %>
    <% @event.presenters.each do |presenter| %>
      <tr>
        <th>プレゼンター #<%= i %></th>
        <td><%= link_to "#{presenter.last_name} #{presenter.first_name} ( #{presenter.affiliation} #{presenter.title} )", member_path(presenter.id) %></td>
      <tr>
      <% i += 1 %>
    <% end %>
  <% end %>
</table>

<table class="table table-bordered table-hover">
  <tr>
    <th>未定</th>
    <th>参加予定</th>
    <th>参加者数</th>
    <th>欠席</th>
    <th>No-show</th>
  </tr>
  <tr>
    <td><%= link_to @event.maybe_members.count, maybe_event_path %></td>
    <td><%= link_to @event.registed_members.count, registed_event_path %></td>
    <td><%= link_to @event.participants.count, participants_event_path %></td>
    <td><%= link_to @event.declined_members.count, declined_event_path %></td>
    <td><%= link_to @event.no_show.count, no_show_event_path %></td>
  </tr>
</table>
