<table class="table table-bordered">
  <tr>
    <th class="col-md-1">累計</th>
    <th class="col-md-1">イベント名</th>
    <th class="col-md-1">開催日</th>
    <th class="col-md-1">分類</th>
    <th class="col-md-2">プレゼンター</th>
    <th class="col-md-2">タイトル</th>
    <th class="col-md-2">概要</th>
    <th class="col-md-1">会場</th>
    <th class="col-md-1">出席者数</th>
  </tr>

  <!-- count -->
  <% max_id = 1 %>  
  <% @events.each do |event| %>
    <% max_id += 1 %>
  <% end %>

  <!-- relate id and real id -->
  <% event_id = Array.new(max_id) %>
  <% h = max_id - 1 %>
  <% @events.each do |event| %>
    <% event_id[h] = event[:event][:id] %>
    <% h -= 1 %>
  <% end %>

  <% @events.each do |event| %>

    <% if event[:detail].length == 0 %>
      <tr>
        <%= content_tag :td, rowspan: event[:detail].length do %>
          <% for h in 0..max_id do %>
            <% if event_id[h] == event[:event][:id] %>
              <% break %>
            <% end %>
          <% end %>
          <%= "第#{h}回" %>
        <% end %>
        <td><%= link_to event[:event][:name], registed_event_path(event[:event][:id]) %></td>
        <td><%= event[:event][:date] %></td>
        <td><%= EventCategory.find(event[:event][:event_category_id]).name if event[:event][:event_category_id].present? and EventCategory.where(id: event[:event][:event_category_id]).present? %></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= Place.find(event[:event][:place]).name if event[:event][:place].present? and Place.where(id: event[:event][:place]).present? %></td>
        <td><%= event[:event][:participants] %>名</td>
      </tr>

    <% elsif event[:detail].length >= 1 %>
      <% i=0 %>
      <% event[:detail].each do |detail| %>
        <tr>
          <% if i == 0 %>
            <%= content_tag :td, rowspan: event[:detail].length do %>
              <% for h in 0..max_id do %>
                <% if event_id[h] == event[:event][:id] %>
                  <% break %>
                <% end %>
              <% end %>
              <%= "第#{h}回" %>
            <% end %>
            <%= content_tag :td, rowspan: event[:detail].length do %>
              <%= link_to event[:event][:name], registed_event_path(event[:event][:id]) %>
            <% end %>
            <%= content_tag :td, event[:event][:date], rowspan: event[:detail].length %>
            <% if event[:event][:event_category_id].present? and EventCategory.where(id: event[:event][:event_category_id]).present? %>
              <%= content_tag :td, EventCategory.find(event[:event][:event_category_id]).name, rowspan: event[:detail].length %>
            <% else %>
              <td rowspan="<%=event[:detail].length%>"></td>
            <% end %>
          <% end %>
          <td>
            <% #detail[:presenter].each do |presenter| %>
            <% detail[:presenter].reverse_each do |presenter| %>
                <strong><%= "#{presenter[:affiliation]}" %></strong><br>
                <%= "#{presenter[:title]} #{presenter[:name]} 氏" %><br>
            <% end %>
          </td>
          <td><%= "#{truncate detail[:title], length: 40}" %></td>
          <td><%= "#{truncate detail[:abstract], length: 40}" %></td>
          <% if i == 0 %>
            <%= content_tag :td, rowspan: event[:detail].length do %>
              <%= Place.find(event[:event][:place]).name if event[:event][:place].present? and Place.where(id: event[:event][:place]).present? %></td>
            <% end %>
            <%= content_tag :td, rowspan: event[:detail].length do %>
              <%= event[:event][:participants] %>名</td>
            <% end %>
          <% end %>
        </tr>
        <% i += 1 %>
      <% end %>

    <% end %>

  <% end %>
</table>
