<h2>招待済みメンバー</h2>
<div class="pagination pagination-centered"><%= will_paginate @invited_members, renderer: BootstrapPagination::Rails %></div>
<table class="table table-bordered table-hover">
  <tr>
    <th>ID</th>
    <th>氏名</th>
    <th>Facebook名</th>
    <th>所属</th>
  </tr>
  <% @invited_members.each do |member| %>
    <tr>
    <td><%= member.id %></td>
    <td><%= link_to member.name, member_path(member) %></td>
    <td><%= member.facebook_name %></td>
    <td><%= member.affiliation %></td>
  </tr>
<% end %>
</table>

