<?xml version="1.0" encoding="UTF-8"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">☑</Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String">氏名</Data></Cell>
        <Cell><Data ss:Type="String">属性</Data></Cell>
        <Cell><Data ss:Type="String">Role</Data></Cell>
        <Cell><Data ss:Type="String">参加費</Data></Cell>
        <Cell><Data ss:Type="String">（Facebook名）</Data></Cell>
        <Cell><Data ss:Type="String">所属</Data></Cell>
      </Row>
      <% @members.each do |member| %>
        <Row>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"><%= member.last_name_kana[0] if member.last_name_kana.present? %></Data></Cell>
          <Cell><Data ss:Type="String"><%= "#{member.last_name} #{member.first_name}" %></Data></Cell>
          <Cell><Data ss:Type="String"><%= Category.find(member.category_id).try(:name) if member.category_id.present? %></Data></Cell>
          <Cell><Data ss:Type="String"><%= show_role(member, @event) %></Data></Cell>
          <Cell><Data ss:Type="String"><%= show_currency(show_fee(member, @event)) %></Data></Cell>
          <Cell><Data ss:Type="String"><%= member.fb_name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= member.affiliation %></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

