<h2><%= @title %></h2>
<div id= "input_container" %>
  <%= form_tag :update_information_members, id: "input_container" do %>
    <div class="btn-group">
      <%= link_to "メンバー新規登録",new_member_path, class: "btn btn-default" %>
      <%= link_to "facebook情報更新", update_facebook_event_path(rsvp_status: "attending"), method: "post", class:"btn btn-default" %>
      <%= link_to "参加予定者一覧ダウンロード", registed_event_path(format: 'xls'), method: "get", class: "btn btn-default" %>
      <%= submit_tag "メンバー情報更新", class: "btn btn-default" %>
    </div>

    <%= content_tag :table, class: 'table table-condensed table-bordered table-striped' do %>
      <tr>
        <th width="1em"></th>
        <th width="28px"></th>
        <th width="60px">氏</th>
        <th width="60px">名</th>
        <th width="60px">Fb</th>
        <th width="90px">属性</th>
        <th>所属</th>
        <th width="60px">役職</th>
        <th>備考</th>
        <th>Role</th>
        <th>参加費</th>
        <th></th>
        <th>登録日</th>
      </tr>
      <% @members.each do |member| %>
        <%= content_tag :tr do %>
          <%= hidden_field_tag nil, member.id, name: "member[][id]" %>
          <td><%= member.last_name_kana[0] if member.last_name_kana.present? %></td>
          <td><%= link_to image_tag("https://graph.facebook.com/#{member.fb_user_id}/picture"), "https://facebook.com/#{member.fb_user_id}", target: :blank %></td>
          <td><%= text_field_tag nil, member.last_name, name: "member[][last_name]" %></td>
          <td><%= text_field_tag nil, member.first_name, name: "member[][first_name]" %></td>
          <td><%= link_to member.fb_name, member_path(member) %></td>
          <td><%= select_tag nil, options_from_collection_for_select(Category.all, :id, :name, member.category_id), name: "member[][category_id]", include_blank: true%></td>
          <td><%= text_field_tag nil, member.affiliation, name: "member[][affiliation]" %></td>
          <td><%= text_field_tag nil, member.title, name: "member[][title]" %></td>
          <td><%= text_field_tag nil, member.note, name: "member[][note]" %></td>
          <td><%= select_roll(member, @event) %></td>
          <td><%= show_currency(show_fee(member, @event)) %></td>
          <td><%= select_status(member) %></td>
          <td><%= show_datetime(member.relationships.find_by_event_id(@event).created_at) %></td>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
