<?xml version="1.0" encoding="UTF-8"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="s57">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Calibri" x:CharSet="128" x:Family="Swiss" ss:Color="#000000"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table> 
      <Column ss:AutoFitWidth="0" ss:Width="15"/>
      <Column ss:AutoFitWidth="0" ss:Width="15"/>
      <Column ss:AutoFitWidth="0" ss:Width="60"/>
      <Column ss:AutoFitWidth="0" ss:Width="40"/>
      <Column ss:AutoFitWidth="0" ss:Width="40"/>
      <Column ss:AutoFitWidth="0" ss:Width="40"/>
      <Column ss:AutoFitWidth="0" ss:Width="150"/>
      <Column ss:AutoFitWidth="0" ss:Width="150"/>
      <Column ss:AutoFitWidth="0" ss:Width="200"/>
      <Row ss:Index="2">
        <Cell ss:StyleID="s57"><Data ss:Type="String">#</Data></Cell>
        <Cell ss:StyleID="s57"><Data ss:Type="String">☑</Data></Cell>
        <Cell ss:StyleID="s57"><Data ss:Type="String">氏名</Data></Cell>
        <Cell ss:StyleID="s57"><Data ss:Type="String">属性</Data></Cell>
        <Cell ss:StyleID="s57"><Data ss:Type="String">Role</Data></Cell>
        <Cell ss:StyleID="s57"><Data ss:Type="String">参加費</Data></Cell>
        <Cell ss:StyleID="s57"><Data ss:Type="String">所属</Data></Cell>
        <Cell ss:StyleID="s57"><Data ss:Type="String">肩書</Data></Cell>
        <Cell ss:StyleID="s57"><Data ss:Type="String">備考</Data></Cell>
      </Row>
      <% @members.each do |member| %>
        <Row>
          <Cell ss:StyleID="s57"><Data ss:Type="String"></Data></Cell>
          <Cell ss:StyleID="s57"><Data ss:Type="String"></Data></Cell>
          <Cell ss:StyleID="s57"><Data ss:Type="String"><%= "#{member.last_name} #{member.first_name}" %></Data></Cell>
          <Cell ss:StyleID="s57"><Data ss:Type="String"><%= Category.find(member.category_id).try(:name) if member.category_id.present? %></Data></Cell>
          <Cell ss:StyleID="s57"><Data ss:Type="String"><%= show_role(member, @event) %></Data></Cell>
          <Cell ss:StyleID="s57"><Data ss:Type="String"><%= show_currency(show_fee(member, @event)) %></Data></Cell>
          <Cell ss:StyleID="s57"><Data ss:Type="String"><%= member.affiliation %></Data></Cell>
          <Cell ss:StyleID="s57"><Data ss:Type="String"><%= member.title %></Data></Cell>
          <Cell ss:StyleID="s57"><Data ss:Type="String"><%= member.note %></Data></Cell>
          <Cell><Data ss:Type="String"><%= member.fb_name %></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

