<h2><%= @title %></h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">苗字のイニシャル</th>
        <th scope="col">氏名（登録画面にジャンプ）</th>
        <th scope="col">Facebook名前（ページにジャンプ）</th>
        <th scope="col">属性</th>
        <th scope="col">所属</th>
        <th scope="col">肩書</th>
        <th scope="col">備考</th>
        <th scope="col">回数(2014.1~)</th>
        <th scope="col">Role</th>
        <th scope="col">誕</th>
        <th scope="col">黒</th>
        <th scope="col">参加費</th>
        <th scope="col">Status</th>
      </tr>
    </thead>

    <tbody>
      <% i = 1 %>
      <% @members.each do |member| %>
        <%= content_tag :tr do %>
          <td><%= i %></td>
          <td><%= member.last_name_alphabet[0] if member.last_name_alphabet.present? %></td>
          <td><%= link_to "#{member.last_name} #{member.first_name}", member_path(member) %></td>
          <td><%= link_to image_tag("https://graph.facebook.com/#{member.fb_user_id}/picture", class: "fb_user_icon") + "#{member.fb_name}", "https://facebook.com/#{member.fb_user_id}", target: :blank %></td>
          <td><%= Category.find(member.category_id).try(:name) if member.category_id.present? %></td>
          <td><%= truncate(member.affiliation, length: 30) %></td>
          <td><%= member.title %></td>
          <td><%= truncate(member.note, length: 12) %></td>
          <td><%= member.participated_events.where("start_time > ?", Date.parse("2014-01-01").beginning_of_month).count %></td>
          <td><%= select_role(member, @event) %></td>
          <td><%= select_birthday(member, @event) %></td>
          <td><%= select_black_list(member, @event) %></td>
          <td><%= show_currency(show_fee(member, @event)) %></td>
          <td><%= select_status(member) %></td>
        <% end %>
        <% i += 1 %>
      <% end %>
    </tbody>
  </table>
</div>

<div id="ajax-form">
</div>
<script>
$('.note').popover(
    {
      trigger: "hover",
      placement: "top",
      toggle: "popover",
      container: "body"
    }
    )
</script>
