<h2><%= @title %></h2>
<div id= "input_container">
  <%= form_tag :update_information_members, id: "input_container" do %>
    <%= content_tag :table, class: 'table table-condensed table-bordered table-striped' do %>
      <tr>
        <th>#</th>
        <th class="col-md-1">頭</th>
        <th class="col-md-1">氏</th>
        <th class="col-md-1">名</th>
        <th class="col-md-2">Fb</th>
        <th class="col-md-1">属性</th>
        <th class="col-md-2">所属</th>
        <th class="col-md-1">役職</th>
        <th class="col-md-2">備考</th>
      </tr>
      <% i = 1 %>
      <% @members.each do |member| %>
        <%= content_tag :tr do %>
          <%= hidden_field_tag nil, member.id, name: "member[][id]" %>
          <td><%= i %></td>
          <td><%= text_field_tag nil, member.last_name_kana, name: "member[][last_name_kana]", class: "form-control input-sm" %></td>
          <td><%= text_field_tag nil, member.last_name, name: "member[][last_name]", class: "form-control input-sm" %></td>
          <td><%= text_field_tag nil, member.first_name, name: "member[][first_name]", class: "form-control input-sm" %></td>
          <td><%= link_to image_tag("https://graph.facebook.com/#{member.fb_user_id}/picture?type=square", class: "fb_user_icon") + member.fb_name, member_path(member) %></td>
          <td><%= select_tag nil, options_from_collection_for_select(Category.all, :id, :name, member.category_id), name: "member[][category_id]", include_blank: true, class: "form-control"%></td>
          <td><%= text_field_tag nil, member.affiliation, name: "member[][affiliation]", class: "form-control input-sm" %></td>
          <td><%= text_field_tag nil, member.title, name: "member[][title]", class: "form-control input-sm" %></td>
          <td><%= text_field_tag nil, member.note, name: "member[][note]", class: "form-control input-sm" %></td>
        <% end %>
        <% i += 1 %>
      <% end %>
    <% end %>
    <%= submit_tag "メンバー情報更新", class: "btn btn-primary btn-lg" %>
  <% end %>
</div>
