<h2>参加者</h2>
<div class="pagination pagination-centered"><%= will_paginate @participants, renderer: BootstrapPagination::Rails %></div>
<table class="table table-bordered table-hover">
  <tr>
    <th>ID</th>
    <th>氏名</th>
    <th>Facebook名</th>
    <th>所属</th>
    <th>プレゼンター</th>
  </tr>
  <% @participants.each do |participant| %>
    <tr>
    <td><%= participant.id %></td>
    <td><%= link_to participant.name, member_path(participant) %></td>
    <td><%= participant.facebook_name %></td>
    <td><%= participant.affiliation %></td>
    <td><%= link_to check_event_flg(participant),
            change_status_event_path(
              :participant_id => participant.id,
              :status => relationship(participant).presenter_flg),
              :method => :post,
              :class => "btn btn-small"%></td>
  </tr>
<% end %>
</table>

