<div id= "input_container" %>
  <%= form_tag :update_presentation_event, id: "input_container" do %>

    <%= content_tag :table, class: 'table table-condensed table-bordered table-striped' do %>
      <% @presenters.each do |presenter| %>
        <%= hidden_field_tag nil, presenter.id, name: "presentation[][member_id]" %>
        <%= hidden_field_tag nil, @event.id, name: "presentation[][event_id]" %>
        <%= content_tag :tr do %>
          <th>プレゼンター</th>
          <td><%= "#{presenter.last_name} #{presenter.first_name} 氏" %></td>
        <% end %>
        <%= content_tag :tr do %>
          <th>題目</th>
          <td><%= text_field_tag nil, presenter.presentations.find_by_event_id(@event).try(:title), name: "presentation[][title]" %></td>
        <% end %>
        <%= content_tag :tr do %>
          <th>概要</th>
          <td><%= text_field_tag nil, presenter.presentations.find_by_event_id(@event).try(:abstract), name: "presentation[][abstract]" %></td>
        <% end %>
      <% end %>
    <% end %>
    <%= submit_tag "更新", class: "btn btn-primary" %>
  <% end %>
</div>
