<div class="btn-group btn-group-vertical btn-block" >
  <%= link_to 'イベント情報', event_path(@event), class: "btn btn-default btn-block " %>
  <%= link_to "待機 (#{waiting_members.count})", waiting_event_path(@event), class: "btn btn-default  btn-block" %>
  <%= link_to "参加予定 (#{@event.registed_members.count})", registed_event_path(@event), class: "btn btn-default  btn-block" %>
  <%= link_to "出席者 (#{@event.participants.count})", participants_event_path(@event), class: "btn btn-default  btn-block" %>
  <%= link_to "キャンセル (#{@event.canceled_members.count})", canceled_event_path(@event), class: "btn btn-default  btn-block" %>
  <%= link_to "No-show (#{@event.no_show.count})", no_show_event_path(@event), class: "btn btn-default  btn-block" %>
  <%= link_to 'イベント案内', event_invitations_path(@event), class: "btn btn-default  btn-block" %>
  <%= link_to "案内文送付", send_invitation_path(@event), class: "btn btn-default  btn-block" %>
</div>
