<h2>参加予定者追加</h2>

<%= form_with url: search_member_event_path(@event), method: 'get', data: { remote: true }, class: "form-inline" do |form| %>
  <div class="form-group">
    <%= form.label :keyword, "メンバー検索" %>
    <%= form.text_field :keyword, class: "form-control", placeholder: "Keyword" %>
  </div>
  <%= form.submit 'Search', class: 'btn btn-primary' %>
<% end %>

<table class='table table-sm table-bordered table-striped' style="font-size: 13px;">
  <thead>
    <tr>
      <th width="3em">id</th>
      <th width="10%">氏名</th>
      <th width="15%">Fb</th>
      <th width="10%">属性</th>
      <th width="20%">所属</th>
      <th>役職</th>
      <th width="15%">備考</th>
      <th width="5%"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= link_to "#{member.last_name} #{member.first_name}", member_path(member) %></td>
        <td><%= link_to image_tag("https://graph.facebook.com/#{member.uid}/picture", class: "fb_user_icon") + "#{member.name}", "https://facebook.com/#{member.uid}", target: :blank %></td>
        <td><%= Category.find(member.category_id).try(:name) if member.category_id.present? %></td>
        <td><%= member.affiliation %></td>
        <td><%= member.title %></td>
        <td><%= member.note %></td>
        <td>
          <% if @recorded.select {|record| record.id == member.id }.empty? %>
            <%= select_status(member) %>
          <% else %>
            <%= "Already registed" %>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>

<% if @not_found_members.present? %>
  <hr>
  <h3>Not found list ...</h3>
  <% @not_found_members.each do |not_found_member| %>
    <p><%= not_found_member %></p>
  <% end %>
<% end %>

<span>見つからない場合は...    </span><%= link_to "メンバー新規登録", new_member_path(event_id: @event.id), remote: true, class: "btn btn-primary" %>
