<h2><%= @title %></h2>

<%= form_tag :search_event, method: 'get', remote: true, class: "form-inline", role: "form" do %>
  <div class="form-group">
    <span>まずはメンバー検索<br>(Seperate names with ',(comma)')</span>
    <%#= text_field_tag :search, params[:search], size: 50, class: "form-control", placeholder: "name" %>
    <%= text_area_tag :search, params[:search], size: "100x10", class: "form-control", placeholder: "name1, name2, name3, name4, ..." %>
  </div>
  <%= submit_tag 'Search', :name => nil, class: 'btn btn-primary' %>
<% end %>

<%= content_tag :table, class: 'table table-condensed table-bordered table-striped' do %>
  <tr>
    <th width="3em">#</th>
    <th width="1em">頭</th>
    <th class="col-md-1">氏名</th>
    <th class="col-md-2">Fb</th>
    <th class="col-md-1">属性</th>
    <th class="col-md-3">所属</th>
    <th class="col-md-1">役職</th>
    <th class="col-md-1">備考</th>
    <th class="col-md-1"></th>
  </tr>
  <% i = 1 %>
  <% @members.each do |member| %>
    <%= content_tag :tr do %>
      <td><%= i %></td>
      <td><%= member.last_name_alphabet[0] if member.last_name_alphabet.present? %></td>
      <td><%= "#{member.last_name} #{member.first_name}" %></td>
      <td><%= link_to image_tag("https://graph.facebook.com/#{member.fb_user_id}/picture", class: "fb_user_icon") + "#{member.fb_name}", "https://facebook.com/#{member.fb_user_id}", target: :blank %></td>
      <td><%= Category.find(member.category_id).try(:name) if member.category_id.present? %></td>
      <td><%= member.affiliation %></td>
      <td><%= member.title %></td>
      <td><%= member.note %></td>
      <td>
        <% if @recorded.find_by_id(member.id) %>
          <%= "Already registed" %>
        <% end %>
        <%= select_status(member) %>
      </td>
    <% end %>
    <% i += 1 %>
  <% end %>
<% end %>

<span>見つからない場合は...    </span><%= link_to "メンバー新規登録", new_member_path(event_id: @event.id), remote: true, class: "btn btn-primary" %>
