<div class="col-md-2">
</div>
<div class="col-md-5">
  <h2>出席者</h2>
  <div id="attending"></div>
</div>
<div class="col-md-5">
  <button class="btn btn-default ", onclick="deleteTest()">オーガナイザー以外の招待をキャンセル</button>
  <div id="result"></div>
</div>

  <div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
FB.init({
appId      : <%= @app_id %>,
  status     : true,
  xfbml      : true
});

function deleteTest(){
  var deleting = <%= @deleting %>;
  for (var elem in deleting){
    var element = document.createElement('p'); 
    var str = document.createTextNode(deleting[elem]);
    FB.api(
        "/<%= @event_id %>/invited",
      "DELETE",
      {"access_token": "<%= current_user.access_token %>",
        "user": deleting[elem]
      },
      function(response){
        str += JSON.stringify(response);
        element.appendChild(str);
        document.getElementById('result').appendChild(element);		
      }
    );


  }
}

function deleteInvited(){
  var deleting = <%= @deleting %>;
  for (var elem in deleting){
    FB.api(
        "/<%= @event_id %>/invited",
      "DELETE",
      {"access_token": "<%= current_user.access_token %>",
        "user": elem
      },
      function(response){
        document.getElementById('result').innerHTML = JSON.stringify(response);
      }
    );
  }
}
function getEvent(){
  FB.api(
      "/<%= @event_id %>",
    {access_token: "<%= current_user.access_token %>"},
    function(response){
        document.getElementById('result').innerHTML = JSON.stringify(response);
    }
  );
}
 function getInvited(){
  FB.api(
      "/<%= @event_id %>/invited",
    {access_token: "<%= current_user.access_token %>"},
    function(response){
      if (response && !response.error) {
      var contents = '<ul>';
        for (var i = 0; i < response.data.length; i++) {
           for (var elem in response.data[i]) {
           contents += "<li>" + elem + ' : ' + response.data[i][elem] + '</li>';
           }
           contents += '<hr>';
         }
         contents += "</ul>"
        document.getElementById('attending').innerHTML = contents;
      }
    }
  );
}
function getWall(){
  FB.api("/me/feed",
      {access_token: "<%= current_user.access_token %>"},
    function(response){
      var contents = '';
      for (var i = 0; i < response.data.length; i++) {
         for (var elem in response.data[i]) {
           contents += elem + ' : ' + response.data[i][elem] + '<br>';
         }
         contents += '<hr>';
       }
      document.getElementById('result').innerHTML = contents;
    }
  );
}
</script>
