<div class="row">
  <aside class="col-lg-2">
    <section>
      <%= render'side' %>
    </section>
    <div class="well well-small">
      <ul class="list-unstyled">
        <li><%= "開催回数：#{@total_events}回" %></li>
        <li><%= "総参加者数：#{@total_participants}名" %></li>
      </ul>
    </div>

  </aside>
  <div class="col-lg-10">
    <h2><%= "イベント一覧" %></h2>
    <div class="btn-group">
      <%= link_to "新規登録/CSV読込", new_event_path, class: "btn btn-default" %>
      <% date = @last_date%>
      <% while date >= @start_date do %>
        <%= link_to "#{date.strftime("%Y")}年", events_path(:year => date.strftime("%Y-%m-%d")), class: "btn btn-default", remote: true%>
        <% date = date - 1.year %>
      <% end %>
    </div>
    <div id="ajax_container">
      <%= render 'events' %>
    </div>
  </div>
</div> 
