<div class="row">
  <div class="col-md-2" id="side-nav">
    <%= render'side' %>
  </div>

  <div class="col-md-10">
    <h2>未定（Facebook eventの未定欄、この欄は削除予定）</h2>

    <div class="btn-group">
      <%= link_to maybe_event_path, class: "btn btn-light" do %>
        <span class="fa fa-th-list"></span> 未定者一覧
      <% end %>
      <%= link_to update_maybe_member_event_path, class: "btn btn-light",remote: true do %>
        <span class="fa fa-edit"></span> 未定者情報編集
      <% end %>
      <%= link_to update_facebook_event_path, method: "post", class:"btn btn-light" do %>
        <span class="fa fa-refresh"></span> facebook情報更新
      <% end %>
      <%= link_to maybe_event_path(format: 'xls'), method: "get", class: "btn btn-light" do %>
        <span class="fa fa-download"></span> Download
      <% end %>
    </div>

    <div id="ajax_container">
      <%= render'members' %>
    </div>
  </div>
</div>
