<div class="row-fluid">
  <aside class="span2">
    <section>
      <%= render'side' %>
    </section>
  </aside>
  <div class="span5">
    <h2>イベント登録</h2>
    <%= render'event_form' %>
  </div>
  <div class="span5">
    <h2>イベント情報CSVデータ取り込み</h2>
    <%= form_tag import_events_path, multipart: true do %>
      <%= file_field_tag :file, class: "file-holder" %>
      <%= submit_tag "CSV読込",class: "btn" %>
    <% end %>
  </div>
</div>
