<div class="row">
  <aside class="col-md-2">
    <section>
      <%= render'side' %>
    </section>
    <section>
      <div id="side-nav">
        <%= render'side_info' %>
      </div>
    </section>
  </aside>
  <div class="col-md-10">
    <div class="btn-group">
      <%= link_to participants_event_path, class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-th-list"></span> 出席者一覧
      <% end %>
      <%= link_to update_participants_event_path, class: "btn btn-default",remote: true do %>
        <span class="glyphicon glyphicon-edit"></span> 出席者情報編集
      <% end %>
      <%= link_to participants_event_path(format: 'xls'), method: "get", class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-download"></span> Download
      <% end %>
      <%= button_tag data: {target: "#myModal", toggle: "modal"}, class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-upload"></span> Upload CSV
      <% end %>
    </div>
    <div id="ajax_container">
      <%= render'members' %>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">CSVデータUpload</h4>
      </div>
      <div class="modal-body">
        <%= form_tag :import_participants_event, multipart: true do %>
          <div class="form-group">
            <%= file_field_tag :file %>
            <p><strong>csvファイルの形式:</strong>last_name, first_name, affiliation, title, note, email</p>
            <%= submit_tag "CSVファイルを読み込む", class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


