<div class="row">
  <aside class="col-md-2">
    <section>
      <%= render'side' %>
    </section>
    <section>
      <%= render'side_info' %>
    </section>
  </aside>
  <div class="col-md-10">
    <div class="btn-group">
      <%= link_to registed_event_path, class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-th-list"></span> 参加予定者一覧
      <% end %>
      <%= link_to update_member_event_path, class: "btn btn-default",remote: true do %>
        <span class="glyphicon glyphicon-edit"></span> 参加予定者情報編集
      <% end %>
      <%= link_to waiting_event_path, class: "btn btn-default",remote: true do %>
        <span class="glyphicon glyphicon-plus"></span> 参加予定者追加
      <% end %>
      <%= link_to update_facebook_event_path(rsvp_status: "attending"), method: "post", class:"btn btn-default" do %>
        <span class="glyphicon glyphicon-refresh"></span> facebook情報更新
      <% end %>
      <%= link_to registed_event_path(format: 'xls'), method: "get", class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-download"></span> Download
      <% end %>

    </div>
    <div id="ajax_container">
      <%= render'members' %>
    </div>
  </div>
</div>
