<div class="row">
  <div class="col-md-2">
    <%= render 'side' %>
  </div>

  <div class="col-md-10">

    <style>
    .event-bkg::after {
      content: "";
      background-image: url('<%= serve_file_event_path(header: 'bkg')%>');
      background-repeat: no-repeat; /* Do not repeat the image */
      filter: blur(8px);
      opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
    </style>

    <div class="row event-bkg">
      <h2>イベント情報</h2>

      <div class="offset-10 col-2">
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#bkgImage">
          Change Background Image
        </button>
      </div>

      <div class="offset-3 col-6">
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-toggle="modal" data-target="#headerImage">
          <% if @event.header_filename %>
            <%= image_tag serve_file_event_path(header: 'header'), class: 'img-thumbnail mx-auto d-block' %>
          <% else %>
            <p>Click to upload header image</p>
          <% end %>
        </button>
      </div>

    </div>

    <div class="row" style="background: white;">
      <div class="col-6">
        <table class="table table-bordered table-sm">
          <tr>
            <th>イベント名</th>
            <td><%= link_to @event.name, "https://www.facebook.com/events/#{@event.fb_event_id}", target: 'blank' %></td>
          </tr>
          <tr>
            <th>通算#</th>
            <td><%= @event.cumulative_number %></td>
          </tr>
          <tr>
            <th>開始日時</th>
            <td><%= @event.start_time.strftime('%Y-%m-%d %H:%M') %></td>
          </tr>
          <tr>
            <th>会場</th>
            <td><%= Place.find(@event.place_id).name if @event.place_id.present? and Place.where(id: @event.place_id).present?%></td>
          </tr>
          <tr>
            <th>イベントタイプ</th>
            <td><%= EventCategory.find(@event.event_category_id).name if @event.event_category_id.present? and EventCategory.where(id: @event.event_category_id).present? %></td>
          <tr>
            <th>参加費</th>
            <td><%= show_currency(@event.fee) %></td>
          </tr>
          <tr>
            <th>備考</th>
            <td><%= @event.note %></td>
          </tr>
          <tr>
            <th>Facebook event URL</th>
            <td><%= link_to truncate("https://www.facebook.com/events/#{@event.fb_event_id}",length:50), "https://www.facebook.com/events/#{@event.fb_event_id}", target: :blank %></td>
          </tr>
          <% if @event.presenters.present? %>
            <% i = 1 %>
            <% @event.presenters.each do |presenter| %>
              <tr>
                <th>プレゼンター #<%= i %></th>
                <td><%= link_to "#{presenter.last_name} #{presenter.first_name} ( #{presenter.affiliation} #{presenter.title} )", member_path(presenter.id) %></td>
              <tr>
              <% i += 1 %>
            <% end %>
          <% end %>
        </table>

        <table class="table table-bordered table-hover">
          <tr>
            <th>未定</th>
            <th>参加予定</th>
            <th>参加者数</th>
            <th>欠席</th>
            <th>No-show</th>
          </tr>
          <tr>
            <td><%= link_to @event.registed_members.count, registed_event_path %></td>
            <td><%= link_to @event.participants.count, participants_event_path %></td>
            <td><%= link_to @event.declined_members.count, declined_event_path %></td>
            <td><%= link_to @event.no_show.count, no_show_event_path %></td>
          </tr>
        </table>

        <div class="row">
          <%= link_to 'イベント情報編集', edit_event_path(@event), class: "col btn btn-lg btn-primary" %>
          <%= link_to 'Delete event', event_path(@event), class: "col btn btn-danger",
                          method: :delete, data: { confirm: "Delete, Are you sure?" } %>
        </div>
      </div>

      <div class="col-md-6">
        <h2>プレゼンテーション内容</h2>
        <% if not @presentations.present? %>
          <strong>プレゼンターを登録して下さい</strong>
        <% end %>

        <%= render 'presentation_info' %>
      </div>
    </div>

  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="headerImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Header Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= image_tag serve_file_event_path(header: 'header'), class: 'img-fluid' %>
      </div>
      <div class="modal-footer">
        <%= form_with url: upload_file_event_path(header: 'header') do |form| %>
          <div class="form-group row">
            <%= form.label :file, "Header Image", class: 'col-sm-6' %>
            <%= form.file_field :file, class: 'form-control-file col-sm-6' %>
          </div>
          <%= form.submit "Upload" %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bkgImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Header Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= image_tag serve_file_event_path(header: 'bkg'), class: 'img-fluid' %>
      </div>
      <div class="modal-footer">
        <%= form_with url: upload_file_event_path(header: 'bkg') do |form| %>
          <div class="form-group row">
            <%= form.label :file, "Background Image", class: 'col-sm-6' %>
            <%= form.file_field :file, class: 'form-control-file col-sm-6' %>
          </div>
          <%= form.submit "Upload" %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
