<div class="row">
  <aside class="col-lg-2">
    <section>
      <%= render'side' %>
    </section>
    <% if params[:id].present? %>
      <section>
        <%= render"side_info" %>
      </section>
    <% end %>
  </aside>
  <div class="col-lg-10">
    <h2><%= @title %></h2>
    <div id="ajax_container">
      <% if params[:id].present? %>
        <%= pie_chart @category, library: {
          chart: {
            backgroundColor: "#eee"
          },
          title: {
            text: "出席者の属性"
          }
        }%>
        <br>
        <%= column_chart @date_count, library: {
          chart: {
            backgroundColor: "#eee"
          },
          title: {
            text: "登録した出席者／参加予定者数の推移"
          },
          xAxis: {
            title: {
              text: "年月日"
            }
          },
          yAxis: {
            title: {
              text: "人数"
            }
          }
        } %>
      <% else %>
        <%= column_chart [ 
          {name: "出席", data: @participants},
          {name: "No-show", data: @no_show},
          {name: "欠席", data: @declined},
          {name: "未定", data: @maybe}
        ],
        library: {
          chart: {
            backbroundColor: "#eee"
          },
          title: {
            text: "出席者／No-show数の推移"
          },
          xAxis: {
            title: {
              text: "イベント#"
            }
          },
          yAxis: {
            title: {
              text: "人数"
            }
          }
        }%>
      <% end %>
    </div>
  </div>
</div> 
