<div class="row">
  <aside class="col-lg-2">
    <section>
      <%= render'side' %>
    </section>
    <% if params[:id].present? %>
      <section>
        <%= render"side_info" %>
      </section>
    <% end %>
  </aside>
  <div class="col-lg-10">
    <h2><%= @title %></h2>
    <div id="ajax_container">
      <% if params[:id].present? %>
        <%= high_chart("number", @category_graph) %>
        <%= high_chart("date", @date_graph) %>
      <% else %>
        <%= high_chart("number", @graph) %>
      <% end %>
    </div>
  </div>
</div> 
