<div class="row">
  <aside class="col-sm-2">
    <%= render'side' %>
  </aside>
  <div class="col-sm-10">
    <h2><%= @title %></h2>
    <div id="ajax_container">
      <% if params[:id].present? %>
        <%= pie_chart @category,
          title: "出席者の属性",
          library: {
            backgroundColor: "#eee"
          }
        %>
        <br>
        <%= column_chart @date_count,
          title: "登録した出席者／参加予定者数の推移",
          library: {
            backgroundColor: "#eee"
          },
          xtitle: "年月日",
          ytitle: "人数"
        %>
      <% else %>
        <%= column_chart [
            {name: "出席", data: @participants},
            {name: "No-show", data: @no_show},
            {name: "欠席", data: @declined},
            {name: "未定", data: @maybe}
          ],
          title: "出席者／No-show数の推移",
          xtitle: "イベント#",
          ytitle: "人数",
          library: {
            backbroundColor: "#eee"
          }
        %>
      <% end %>
    </div>
  </div>
</div>
