<%= javascript_include_tag "highcharts/highcharts.js", "data-turbolinks-track" => true %>
<%= javascript_include_tag "highcharts/highstock.js", "data-turbolinks-track" => true %>
<%= javascript_include_tag "highcharts/highcharts-more.js", "data-turbolinks-track" => true %>

<div class="row">
  <aside class="col-lg-2">
    <section>
      <%= render'side' %>
    </section>
    <% if params[:id].present? %>
      <section>
        <%= render"side_info" %>
      </section>
    <% end %>
  </aside>
  <div class="col-lg-10">
    <h2><%= @title %></h2>
    <div id="ajax_container">
      <%= high_chart("number", @graph) %>
    </div>
  </div>
</div> 
