<div class="row">
  <aside class="col-md-2">
    <section>
      <%= render'side' %>
    </section>
    <section>
      <%= render'side_info' %>
    </section>
  </aside>
  <div class="col-md-10">
    <%= form_tag :search_event, method: 'get', remote: true, class: "well well-small form-inline" do %>
      <%= text_field_tag :search, params[:search], class: "input-medium search-query" %>
      <%= submit_tag 'Search', :name => nil, class: 'btn' %>
    <% end %>
    <div id="ajax_container">
      <%= render'waiting_members' %>
    </div>
  </div>
</div>

