<%= form_with model: @sponsor, html: { multipart: true } do |form| %>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group row">
        <%= form.label :name, "Name (*)", class: 'col-sm-2' %>
        <%= form.text_field :name, class: "form-control col", :required => 'required' %>
      </div>

      <div class="form-group row">
        <%= form.label :website, "Website (*)", class: 'col-sm-2' %>
        <%= form.text_field :website, class: "form-control col", :required => 'required' %>
      </div>

      <div class="form-group row">
        <%= form.label :slogan, "Slogan", class: 'col-sm-2' %>
        <%= form.text_field :slogan, class: "form-control col" %>
      </div>

      <div class="form-group row">
        <%= form.label :description, "Description", class: 'col-sm-2' %>
        <%= form.text_area :description, class: "form-control col", rows: 4 %>
      </div>

      <div class="form-group row">
        <%= form.label :note, "Note", class: 'col-sm-2' %>
        <%= form.text_area :note, class: "form-control col", rows: 4 %>
      </div>

    </div>

    <div class="col">
      <div class="row">
        <%= form.label :file, "Logo Image", class: 'col-form-label col-auto' %>
        <%= file_field_tag :file, class: 'col-form-label col' %>
      </div>


      <%= image_tag "data:#{@sponsor.logo_mime_type};base64,#{Base64.strict_encode64(@sponsor.logo_data)}",
          alt: @sponsor.logo_name, class: 'mx-auto d-block', height: '200' if @sponsor.logo_name %>
    </div>
  </div>

  <div class='py-3'></div>

  <div class="form-group row">
    <div class="col-sm-2">
      <%= form.check_box :is_end, class: "form-check-input" %>
      <%= form.label :is_end, "End support?", class: 'form-check-label' %>
    </div>
  </div>

  <div class='py-3'></div>

  <div class="form-group row">
    <%= form.submit class: "btn btn-primary col-sm-2" %>
    <%= link_to 'Cancel & Back', :back, class: 'btn btn-primary offset-sm-1 col-sm-2' %>
  </div>
<% end %>
