<h2><%= link_to 'イベント案内', event_invitations_path(@event) %> </h2>
<table class="table table-bordered">
  <tr>
    <th width="60px">タイトル</th>
    <td><%= simple_format(truncate(@invitation.title)) %></td>
  </tr>
   <tr>
    <th>挨拶</th>
    <td><%= simple_format(truncate(@invitation.greeting)) %></td>
  </tr>
  <tr>
    <th>内容</th>
    <td><%= simple_format(truncate(@invitation.content)) %></td>
  </tr>
</table>
<%= link_to '編集', edit_event_invitation_path(@event, @invitation), class: "btn btn-block btn-large" %>
