<%= content_tag :table, class: 'table table-condensed table-bordered table-striped' do %>
  <tr>
    <th style="width: 1%">Count</th>
    <th style="width: 8%">氏名（登録画面にジャンプ）</th>
    <th style="width: 8%">Facebook名前<br>（ページにジャンプ）</th>
    <th style="width: 8%">属性</th>
    <th style="width: 10%">所属</th>
    <th style="width: 10%">役職</th>
    <th style="width: 10%">備考</th>
    <th style="width: 4%"><%= link_to "出席回数", count: true %></th>
    <th style="width: 4%"></th>
    <th style="width: 4%"></th>
  </tr>
  <% i = 1 %>
  <% @members.each do |member| %>
    <%= content_tag :tr do %>
      <td><%= i %></td>
      <td><%= link_to "#{member.last_name} #{member.first_name}", member_path(member) %></td>
      <td><%= link_to image_tag("https://graph.facebook.com/#{member.fb_user_id}/picture", class: "fb_user_icon") + "#{member.fb_name}", "https://facebook.com/#{member.fb_user_id}", target: :blank %></td>
      <td><%= Category.find(member.category_id).try(:name) if member.category_id.present? %></td>
      <td><%= member.affiliation %></td>
      <td><%= member.title %></td>
      <td><%= member.note %></td>
      <td><%= member.participated_events.count %></td>
      <td><%= link_to "詳細", member_path(member), class:"btn btn-primary btn-xs" %></td>
      <td><%= select_to_delete(@invitation, member) %></td>
    <% end %>
    <% i += 1 %>
  <% end %>
<% end %>
