<div class="row">
  <aside class="col-md-2">
    <%= render'side' %>
  </aside>

  <div class="col-md-10">
    <h2>メール</h2>

    <br>

    <%= link_to "戻る", :back, class: "btn btn-primary"%>
    <% if not @invitation.sent_flg %>
      <%= link_to '編集', edit_invitation_path(@invitation), class:"btn btn-primary" %>
    <% end %>
    <%= link_to '削除', invitation_path(@invitation), method: :delete, class:"btn btn-primary",
                              data: {confirm: '削除します。よろしいでしょうか？'} %>

    <hr>

    <% if @invitation.sent_flg %>
      <h3>送信済み</h3>
      <p>詳細</p>

      <table class="table table-bordered">
        <tr>
          <th>送信時間</th>
          <td><%= @invitation.sent_at.strftime('%Y-%m-%d %H:%M') %></td>
        </tr>

        <tr>
          <th>参加者全員（gticメンバーは含まない）：</th>
          <% if @invitation.include_all_flg %>
            <td><%= "送信済み" %></td>
          <% else %>
            <td><%= "送信せず" %></td>
          <% end %>
        </tr>

        <tr>
          <th>誕生月：</th>
          <% if @birth_months.present? %>
            <td>
              <% @birth_months.each do |birth_month| %>
                <%= "#{birth_month}月" %>
              <% end %>
            </td>
          <% else %>
            <td><%= "送信せず" %></td>
          <% end %>
        </tr>

        <tr>
          <th>イベント会合別：</th>
          <% if @event_ids.present? %>
            <td>
              <% @event_ids.each do |event_id| %>
                <%= "第#{Event.find(event_id).cumulative_number}回" %>
              <% end %>
            </td>
          <% else %>
            <td><%= "送信せず" %></td>
          <% end %>

        </tr>

        <tr>
          <th>GTIC幹事メンバーの中でActiveになっている人<br>
          （右上の名前をプルダウンメニューの幹事リストの中でActiveになってる人）：</th>
          <% if @invitation.include_gtic_flg %>
            <td><%= "送信済み" %></td>
          <% else %>
            <td><%= "送信せず" %></td>
          <% end %>
        </tr>

        <tr>
          <th>手動入力したメールアドレス</th>
          <td><%= @invitation.emails %></td>
        </tr>

      </table>

      <hr>

      <div class="row">
        <div class="col-md-4">
          <%= link_to "送信成功者リスト（手入力した人は反映されない）", view_member_invitation_invitation_path(@invitation), class: "btn btn-info btn-lg" %>
       </div>
      </div>

    <% else %> <!-- # If not sent -->

      <h3>送信オプション</h3>
      <p>㊟ブラックリストメンバーは自動的に除かれる</p>

      <table class="table table-bordered">
        <tr>
          <th>参加者全員を宛名に入れる（幹事は含まない）：</th>
          <td><%= select_include_all_members(@invitation) %></td>
        </tr>

        <tr>
          <th>誕生月ごとに宛名に入れる：</th>
          <td>
            <% @birth_months.each do |birth_month| %>
              <%= "#{birth_month}月" %>
            <% end %>
            <%= select_month(@invitation) %>
          </td>
        </tr>

        <tr>
          <th>イベント会合別に宛名を入れる：</th>
          <td>
            <% @event_ids.each do |event_id| %>
              <%= "第#{Event.find(event_id).cumulative_number}回" %>
            <% end %>
            <%= select_event(@invitation, @events) %>
          </td>
        </tr>

        <tr>
          <th>GTIC幹事メンバーの中でActiveになっている人を含める<br>
          （右上の名前をプルダウンメニューの幹事リストの中でActiveになってる）：</th>
          <td><%= select_include_gtic_members(@invitation) %></td>
        </tr>

        <tr>
          <th>メンバーを個別に追加</th>
          <td><%= link_to "ここをクリックしてメンバーを探す", find_members_invitation_path(@invitation), class: "btn btn-light" %></td>
        </tr>
      </table>

      <p>手動でメールアドレスを入力して保存する。下の欄には苗字<メールアドレス>のように記入する。複数人に送る場合は間を「;(半角セミコロン)」で区切る。</p>
      <p>examples: 山田&lt;lemon@gmail.com&gt;; 秋山&lt;neko@yahoo.com&gt;</p>
      <p>注意：全角英文字、全角記号は使わないこと<p>
      <%= form_tag(add_emails_invitation_path, method: 'post') do %>
        <%= label_tag :Email %>
        <%= text_field_tag :emails, @invitation.emails, style: 'width:90%;' %>
        <%= submit_tag "保存", class: "btn btn-info" %>
      <% end %>

      <hr>

      <%= link_to view_member_invitation_invitation_path(@invitation), class: "btn btn-info btn-lg" do %>
        <span class="fa fa-list"></span>送信予定者リスト
      <% end %>
      <%= link_to send_email_invitation_path(@invitation), class:"btn btn-info btn-lg", data: { confirm: '送信しますか？' } do %>
        <span class="fa fa-paper-plane"></span>メール送信
      <% end %>


    <% end %>

    <hr>

    <p>以下はメール文面</p>

    <hr>

    <!-- ここで修正したのもは、必ずinvitation_mailer/invitation.html.erbに同じく修正すること！ -->
    <h3>メールタイトル</h3>
    <hr>
    <p><%= @invitation.title %></p>
    <hr>
    <h3>メール本文</h3>
    <hr>
    <p>（自動的に苗字が入る）様</p>
    <p></p>
    <p><%= simple_format(@invitation.content) %></p>
    <hr>

    <%= link_to "戻る", :back, class: "btn btn-primary"%>
    <% if not @invitation.sent_flg %>
      <%= link_to '編集', edit_invitation_path(@invitation), class:"btn btn-primary" %>
    <% end %>
    <%= link_to '削除', invitation_path(@invitation), method: :delete, class:"btn btn-primary",
                              data: {confirm: '削除します。よろしいでしょうか？'} %>

  </div>
</div>
