<div class="row">
  <aside class="col-md-2">
    <section>
      <%= render'side' %>
    </section>
  </aside>

  <div class="col-md-10">
    <h2>メール</h2>
    <br>
    <div class="row">
      <div class="col-md-2"><%= link_to "戻る", :back, class: "btn btn-primary btn-large btn-block"%></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"><%= link_to '編集', edit_invitation_path(@invitation), class:"btn btn-block btn-primary" %></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"><%= link_to '削除', invitation_path(@invitation), method: :delete, class:"btn btn-block btn-primary",
                                data: {confirm: '削除します。よろしいでしょうか？'} %></div>
    </div>
    <div class="col-md-2"></div>

    <hr>

    <% if @invitation.sent_flg %>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <tr>
              <th>送信時間</th>
              <td><%= @invitation.sent_at %></td>
            </tr>
          </table>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-12">
          <h3>送信</h3>
          <p>㊟ブラックリストメンバーは自動的に除かれる</p>
          <div class="btn-group">
            <%= link_to send_all_invitation_path(@invitation), class:"btn btn-default", data: { confirm: '全員に送信します。よろしいでしょうか？' } do %>
              <span class="glyphicon glyphicon-align-justify"></span>全員に送信
            <% end %>
            <%= select_month(@invitation) %>
            <%= select_event(@invitation, @events) %>
            <%= link_to send_test_invitation_path(@invitation), class:"btn btn-default", data: { confirm: '[TEST]GTICメンバーに送信しますか？' } do %>
              <span class="glyphicon glyphicon-info-sign"></span>[TEST] ActiveなGTICメンバーに送信（画面右上名前->USERSから確認可能）
            <% end %>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-4">
          <h3>オプション</h3>
          <table class="table table-bordered">
            <tr>
              <th>GTICメンバーを含める：</th>
              <td><%= select_include_gtic_members(@invitation) %></td>
            </tr>
          </table>
        </div>
      </div>
    <% end %>

    <hr>

    <!-- ここで修正したのもは、必ずinvitation_mailer/invitation.html.erbに同じく修正すること！ -->
    <h3>メールタイトル</h3>
    <hr>
    <p><%= @invitation.title %></p>
    <hr>
    <h3>メール本文</h3>
    <hr>
    <p>（自動的に苗字が入る）様</p>
    <p></p>
    <p><%= simple_format(@invitation.content) %></p>
    <hr>
  </div>
</div>
