<div class="row">
  <aside class="col-lg-2">
    <%= render "side" %>
  </aside>

  <div class="col-lg-10">
    <h1>Attachment files</h1>

    <div class="row">
      <% @attachment_files.each do |attachment_file| %>
        <div class="col">
          <div class="card">
            <%= image_tag(serve_file_attachment_files_path(filename: attachment_file.filename), class: "card-img-top") %>
            <div class="card-body">
              <h5 class="card-title"><%= attachment_file.filename %></h5>
              <p>&lt;img src="<%= serve_file_attachment_files_path(filename: attachment_file.filename) %>" class="img-fluid" &gt;</p>
              <%= link_to "Destroy", attachment_file_path(attachment_file), class: 'btn btn-danger btn-sm',
                            method: :delete,
                            data: { confirm: "Delete, Are you sure?" } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
