<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalUploadImage">
  Upload image file
</button>

<div class="row">
  <!-- form side -->
  <div class="col-lg-6">
    <%= form_with model: manual do |form| %>
      <div>
        <%= form.label :title %><br>
        <%= form.text_field :title, id: 'title', class: "form-control" %>
        <% manual.errors.full_messages_for(:title).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <div>
        <%= form.label 'HTML body' %><br>
        <%= form.text_area :body, id: 'body', class: "form-control", rows: 30 %><br>
        <% manual.errors.full_messages_for(:body).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <div>
        <%= form.submit class: "btn btn-primary" %>
        <%= link_to 'Cancel & Back', :back, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

  <!-- preview button -->
  <button onclick="showPreviewFunc()" class="btn btn-info" style="width:1px; word-wrap: break-word; white-space:pre-wrap;">⇒Preview</button>

  <!-- preview side -->
  <div class="col-lg-5">
    <p id="preview_title"></p>
    <p id="preview_body"></p>
  </div>
</div>

<script>
  // Click to update preview
  function showPreviewFunc() {
    document.getElementById("preview_title").innerHTML = document.getElementById("title").value;
    document.getElementById("preview_body").innerHTML = document.getElementById("body").value;
  }
</script>

<!-- Image upload Modal -->
<div class="modal fade" id="modalUploadImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with url: attachment_files_path, id: 'formUploadImage', multipart: true, :remote => true do |form| %>
          <div class="form-group">
            <%= label_tag :file, "File" %>
            <%= file_field nil, :file, id: 'fileInputImage', class: 'form-control-file' %>
          </div>
          <div>
            <%= form.submit class: "btn btn-primary", onclick: "addImgTag()", data: { disable_with: false } %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  // Close modal after submit
  $('#formUploadImage').on('submit', function() {
    $('#modalUploadImage').modal('hide');
  });

  // Check filename dup
  var filename = null;
  document.getElementById('fileInputImage').onchange = function () {
    var fullPath = this.value;
    if (fullPath) {
      var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
      filename = fullPath.substring(startIndex);
      if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
          filename = filename.substring(1);
      }
      // Get filename array in db
      <% af = AttachmentFile.all.to_a.map {|a| a.filename} %>
      var filename_array = <%= af.to_json.html_safe %>;
      // Check if dup
      if (filename_array.indexOf(filename) >= 0) {
        alert('Same file name exist in database! Please check or change file name.');
      }
    }
  };

  // after image submit
  function addImgTag() {
    document.getElementById("body").value += `\n<img src="/attachment_files/serve_file?filename=${filename}" class="img-fluid">`;
  }
</script>
