<h1>プレゼンたー及びプレゼンテーション登録方法</h1>
<h2>プレゼンたー登録方法</h2>
  <p>管理者アプリ画面で</p>
  <%= image_tag("add_presentation/presentation01.png", :size => "1366x768") %>
  <p>①「facebook情報更新」。今回は加藤さんをプレゼンたーに登録してみる。</p>
  <br>
  <hr>
  <br>
  <%= image_tag("add_presentation/presentation02.png", :size => "1366x768") %>
  <p>②「Role」で「プレゼンたー」選択。③「参加予定者情報編集」クリック</p>
  <br>
  <hr>
  <br>
  <%= image_tag("add_presentation/presentation03.png", :size => "1366x768") %>
  <p>④facebookのイベントページより必要情報を記入。</p>
  <p>「送信」クリック</p>
  <br>
  <hr>
  <br>
  <%= image_tag("add_presentation/presentation04.png", :size => "1366x768") %>
  <p>反映されているか確認</p>
  <br>
  <hr>
  <br>
<h2>プレゼンテーション登録方法</h2>
  <%= image_tag("add_presentation/presentation05.png", :size => "1366x768") %>
  <p>プレゼンテーション登録のために、⑤「イベント情報」クリック。⑥「追加」クリック</p>
  <br>
  <hr>
  <br>
  <%= image_tag("add_presentation/presentation06.png", :size => "1366x768") %>
  <p>⑦プレゼンたーの名前を選択。プレゼンたーが複数いる場合は、ctrl押しながら選択。</p>
  <p>⑧タイトル、概要を記入。</p>
  <p>⑨「Save」は1回だけ！！！！！！！その後、ページをリロード。</p>
  <br>
  <hr>
  <br>
  <%= image_tag("add_presentation/presentation07.png", :size => "1366x768") %>
  <p>反映されているか確認</p>
