<h1>プレゼンたー登録方法</h1>
  <p>図説で</p>
  <p>まず、イベントデフォルト画面から</p>
  <p>①facebook情報更新</p>
  <p>小泉さんを登録してみる</p>
  <p>②「プレゼンター」選択</p>
  <p>③MEMBERへ移動</p>
  <%= image_tag 'presentation01.png' %>
  <%= image_tag 'presentation02.png' %>
  <%= image_tag 'presentation03.png' %>
  <%= image_tag 'presentation04.png' %>
  <%= image_tag 'presentation05.png' %>
  <%= image_tag 'presentation06.png' %>
  <%= image_tag 'presentation07.png' %>
  <%= image_tag 'presentation08.png' %>
  <%= image_tag 'presentation09.png' %>
  <%= image_tag 'presentation10.png' %>
