<div class="container-fluid">
  <div class="row">
    <aside class="col-lg-2">
      <%= render "side", manual: @manual %>
    </aside>

    <div class="col-lg-10">
      <h2><%= @manual.title %></h2>

      <hr>

      <%= sanitize @manual.body %>

      <hr>

      <ul>
        <li><%= link_to "Edit", edit_manual_path(@manual) %></li>
        <li><%= link_to "Destroy", manual_path(@manual),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %></li>
      </ul>
    </div>
  </div>
</div>
