<%= form_tag search_broadcast_path, method: 'get', remote: true, class: "form-inline", role: "form" do %>
  <div class="form-group">
    <span>まずはメンバー検索</span>
    <%= text_field_tag :search, params[:search], size: 50, class: "form-control", placeholder: "name" %>
  </div>
  <%= submit_tag 'Search', :name => nil, class: 'btn btn-primary' %>
<% end %>

<%= content_tag :table, class: 'table table-sm table-bordered table-striped' do %>
  <tr>
    <th width="1%">id</th>
    <th width="8%">氏名</th>
    <th width="8%">Fb</th>
    <th>属性</th>
    <th>所属</th>
    <th>役職</th>
    <th>備考</th>
    <th width="5%"></th>
  </tr>
  <% @members.each do |member| %>
    <%= content_tag :tr do %>
      <td><%= member.id %></td>
      <td><%= link_to "#{member.last_name} #{member.first_name}", member_path(member) %></td>
      <td><%= link_to image_tag("https://graph.facebook.com/#{member.fb_user_id}/picture", class: "fb_user_icon") + "#{member.fb_name}", "https://facebook.com/#{member.fb_user_id}", target: :blank %></td>
      <td><%= Category.find(member.category_id).try(:name) if member.category_id.present? %></td>
      <td><%= member.affiliation %></td>
      <td><%= member.title %></td>
      <td><%= member.note %></td>
      <td>
        <% if @broadcast_members.find_by_member_id(member.id) %>
          <%= "追加済み" %>
        <% else %>
          <%= select_to_invite(@broadcast, member) %>
          <script>
            $("<%=member.id%>").on("click", function() {
                $(this).prop("disabled", true);
            });
          </script>
        <% end %>
      </td>
    <% end %>
  <% end %>
<% end %>
