<div class='container-fluid'>

  <div class="row">
    <div class="col-md-2">
      <%= render 'side' %>
    </div>

    <div class="col">
      <h2>一斉送信ドラフト</h2>
      <p>ドラフト一つを選択して一斉送信に進む</p>

      <table class="table table-hover table-bordered table-sm table-striped ">
        <tr>
          <th style="width: 10%;">Created datetime</th>
          <th style="width: 20%;">件名</th>
          <th>本文</th>
          <th style="width: 5%;"></th>
        </tr>

        <% @broadcasts.each do |broadcast| %>
          <tr>
            <td><%= broadcast.created_at.strftime("%Y-%m-%d") if broadcast.created_at %></td>
            <td><%= broadcast.subject %></td>
            <td><%= simple_format(truncate(broadcast.body)) %></td>
            <td><%= link_to '詳細', broadcast_path(broadcast), class:"btn btn-primary btn-xs" %></td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>

</div>
