<p>*: required</p>

<%= form_with model: @media_article, html: { multipart: true } do |form| %>

  <div class="row">
    <%= form.label :date, "Date(*)", class: 'col-form-label col-sm-2' %>
    <%= form.date_field :date, value: (@media_article.date.strftime('%Y-%m-%d') if @media_article.date.present?), class: "form-control col", include_blank: true, :required => 'required' %>
  </div>

 <div class="row">
    <%= form.label :media, "Media(*)", class: 'col-form-label col-sm-2' %>
    <%= form.text_field :media, class: "form-control col", :required => 'required' %>
  </div>

  <div class="row">
    <%= form.label :url, "URL", class: 'col-form-label col-sm-2' %>
    <%= form.text_field :url, class: "form-control col" %>
  </div>

  <div class="row">
    <%= form.label :title, "Title(*)", class: 'col-form-label col-sm-2' %>
    <%= form.text_field :title, class: "form-control col", :required => 'required' %>
  </div>

  <div class="row">
    <%= form.label :description, "Description（概要/見出し）", class: 'col-form-label col-sm-2' %>
    <%= form.text_area :description, class: "form-control col" %>
  </div>

  <div class="row">
    <%= form.label :image_url, "ネット上の画像URL", class: 'col-form-label col-sm-2' %>
    <%= form.text_field :image_url, class: "form-control col" %>
  </div>

  <div class="row">
    <%= form.label :member_id, "Member ID(*)", class: 'col-form-label col-sm-2' %>
    <%= form.text_field :member_id, class: "form-control col", :required => 'required' %>
    <%= link_to "Find member ID", members_path, class: "btn btn-info btn-block col-auto", :target => '_blank' %>
  </div>

  <div class="row">
    <%= form.label :file, "File", class: 'col-form-label col-sm-2' %>
    <%= file_field_tag :file, class: 'col-form-label col' %>
  </div>

  <div class="row">
    <%= link_to "Back", :back, class: "btn btn-warning offset-sm-1 col-sm-2" %>
    <%= form.submit class: "btn btn-primary offset-sm-1 col-sm-2" %>
  </div>

<% end %>
