<h2>Media Articles</h2>
<table class="table table-hover table-bordered table-condensed table-striped ">
  <tr>
    <th>#</th>
    <th class="col-md-1">Date</th>
    <th class="col-md-1">Media</th>
    <th class="col-md-4">Media title</th>
    <th class="col-md-2">GTIC Presenter<br>（会社）</th>
    <th class="col-md-2">GTIC Presenter<br>（氏名）</th>
    <th class="col-md-2">GTICへの登壇日<br>（回号, 年月日）</th>
  </tr>

  <% if @media_articles.present? %>
    <% i = @media_articles.count %>
    <% @media_articles.each do |media_article| %>
      <tr>
        <td><%= i %></td>
        <td><%= media_article.date.strftime('%Y-%m-%d') %></td>
        <td><%= media_article.media %></td>
        <td>
          <%= media_article.title %>
          <%= link_to "（記事URL版）", "#{media_article.url}" if media_article.url.present? %>
          <%= link_to "（記事PDF版）", "/assets/media_articles/#{media_article.file_path}" if media_article.file_path.present? %>
        </td>
        <% if media_article.member_id.present? %>
          <% member = Member.find(media_article.member_id) %>
          <td><%= member.affiliation %></td>
          <td><%= "#{member.title} #{member.last_name} #{member.first_name} 氏" %></td>
          <td>
            <% presentationships = Presentationship.where(member_id: member.id) %>
            <% previous_event_id = 0 %>
            <% presentationships.each do |presentationship| %>
              <% if not previous_event_id == presentationship.event_id %>
                <% event = Event.find(presentationship.event_id) %>
                <%= "第#{event.cumulative_number}回GTIC, #{event.start_time.strftime('%Y-%m-%d')}" %><br>
              <% end %>
              <% previous_event_id = presentationship.event_id %>
            <% end %>
          </td>
        <% else %>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
        <td><%= link_to '選択', media_article_path(media_article), class:"btn btn-block btn-primary" %></td>
      </tr>
      <% i = i - 1 %>
    <% end %>
  <% end %>
</table>
