<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>

  <body>
    <h1>Contact Notification</h1>

    <table class="table table-bordered">
      <tr>
        <th style="width: 20%;">Date</th>
        <td><%= @contact.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>

      <tr>
        <th>Name</th>
        <td><%= @contact.name %></td>
      </tr>

      <tr>
        <th>Attribute</th>
        <td><%= Category.find(@contact.category_id).name if @contact.category_id.present? %></td>
      </tr>

      <tr>
        <th>Affiliation</th>
        <td><%= @contact.affiliation %></td>
      </tr>

      <tr>
        <th>Title</th>
      <td><%= @contact.title %></td>
      </tr>

      <tr>
        <th>Email</th>
        <td><%= @contact.email %></td>
      </tr>

      <tr>
        <th>Subject</th>
        <td><%= @contact.subject %></td>
      </tr>

      <tr>
        <th>Body</th>
        <td><%= @contact.body %></td>
      </tr>
    </table>

  </body>
</html>
