<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <p><%= @member.last_name %> 様</p>
    <br>
    <p>
      Global Techno Innovation Cafe, <%= @event.name %> <%= @event.event_category.name %>に参加登録を承りました。
    </p>
    <br>
    <p>
      イベントページ:
      https://gtic.jp/event_detail?event_id=<%= @event.id %>&locale=ja
    </p>
    <br>
    <p>
      当日受付用QRコード:
      https://gtic.jp/view_registration?event_id=<%= @event.id %>&member_id=<%= @member_id_hash %>&locale=ja
    </p>
    <br>
    <p>
      キャンセルはこちらでお願いします。<br>
      https://gtic.jp/deregister_event?event_id=<%= @event.id %>&member_id=<%= @member_id_hash %>&locale=ja
    </p>

    <small>
      This is send-only email. If you have any question, please send to gtic.information@gmail.com
    </small>
  </body>
</html>
