<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h3>参加登録完了 Registration confirmation</h3>
    <p><strong><%= @member.last_name %> 様</strong></p>
    <p>
      Global Techno Innovation Cafe, <%= @event.name %> <%= @event.event_category.name %>に参加登録を承りました。<br>
      イベントページ Event page:<br>
      https://gtic.jp/event_detail?event_id=<%= @event.id %>&locale=ja
    </p>

    <br>
    <hr>

    <h4>参加登録証 / Registration confirmation</h4>
    <p>
      受付のときにQRコードのご提示お願いします。Please show QR code on reception.<br>
      当日受付用QRコード QR code for reception:<br>
      *) 一回限りのQRコードになります。This is one-time only QR code.
    </p>
    <%= image_tag attachments['qrcode.png'].url -%>

    <br>
    <hr>

    <p>
    キャンセルは<a href="https://gtic.jp/deregister_event?event_id=<%= @event.id %>&member_id=<%= @member_id_hash %>&locale=ja">こちら</a>でお願いします。
    Click <a href="https://gtic.jp/deregister_event?event_id=<%= @event.id %>&member_id=<%= @member_id_hash %>&locale=ja">here</a> to cancel.
    </p>

    <small>
      This is send-only email. If you have any question, please send to gtic.information@gmail.com
    </small>
  </body>
</html>
