<div class="btn-group-vertical" >

  <%= link_to "All Files", images_path, class: "btn btn-secondary" %>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalUploadImage">
    Upload image file
  </button>

</div>

<!-- Image Upload Modal -->
<div class="modal fade" id="modalUploadImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: '/images#create', id: 'formUploadImage', multipart: true, :remote => true do |form| %>
          <div class="row">
            <%= label_tag :file, "File", class: 'col-form-label col-auto' %>
            <%= file_field nil, :file, id: 'fileInputImage', class: 'form-control-file col' %>
            <button class="btn btn-primary col-auto" type="submit" onclick="addImgTag()">Submit</button>
            <%#= form.submit class: "btn btn-primary", onclick: "addImgTag()" %><!-- this will disable btn after one click -->
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  // Close modal after submit
  $('#formUploadImage').on('submit', function() {
    $('#modalUploadImage').modal('hide');
  });

  // Check filename dup
  var filename = null;
  document.getElementById('fileInputImage').onchange = function () {
    var fullPath = this.value;
    if (fullPath) {
      var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
      filename = fullPath.substring(startIndex);
      if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
          filename = filename.substring(1);
      }
      // Get filename array in db
      <% af = Image.all.to_a.map {|a| a.filename} %>
      var filename_array = <%= af.to_json.html_safe %>;
      // Check if dup
      if (filename_array.indexOf(filename) >= 0) {
        alert('Same file name exist in database! Please check or change file name.');
      }
    }
  };

  // after image submit
  function addImgTag() {
    setTimeout(function () {
      location.reload();
    }, 500); // Wait 0.5 sec
  }
</script>
