<header class="navbar navbar-fixed-top navbar-fluid"> 
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to root_path, id:"logo" do %>
        <%= image_tag 'https://s3-ap-northeast-1.amazonaws.com/gtic/gtic_logo_c_30x30.png', id:"center-img" %>
        GTICAPP
      <% end %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li> 
          <% if signed_in? %>
            <li><%= link_to "メンバー管理", members_path %></li> 
            <li><%= link_to "イベント管理", events_path %></li>
            <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= User.find(current_user).name %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "プロフィール", current_user %></li> 
                <li><%= link_to "設定", edit_user_path(@current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "サインアウト", '/signout', method: "delete" %> </li>
              </ul> 
            </li>
          <% else %>
            <li><%= link_to "Sign in", '/signin' %></li>
          <% end %>
        </ul> 
      </nav>
    </div>
  </div>
</header>
