<header>
  <nav id='navbar' class="navbar navbar-expand-lg fixed-top navbar-light">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <% unless staff_signed_in? %>
          <%= image_tag 'logo2.png', alt: 'GTIC logo full' %>
        <% else %>
          <div><%= image_tag 'gtic_logo_c_30x30.png', alt: 'GTIC logo 30x30' %></div>
        <% end %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="collapse navbar-collapse flex-column" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item hvr-underline-from-center"><%= link_to "Home", root_path, class:"nav-link py-1" %></li>
            <li class="nav-item hvr-underline-from-center"><%= link_to "About", :about, class:"nav-link py-1", onclick:'FB.AppEvents.logEvent("buttonClicked")' %></li>
            <li class="nav-item hvr-underline-from-center"><%= link_to "Message from CEO", :ceo_message, class:"nav-link py-1" %></li>
            <li class="nav-item hvr-underline-from-center"><%= link_to "Events", :event_list, class:"nav-link py-1" %></li>
            <li class="nav-item hvr-underline-from-center"><%= link_to "Organizers", :organizer, class:"nav-link py-1" %></li>
            <li class="nav-item hvr-underline-from-center"><%= link_to "Media Articles", :media, class:"nav-link py-1" %></li>
            <li class="nav-item hvr-underline-from-center"><%= link_to "Sponsors", :our_sponsors, class:"nav-link py-1" %></li>
            <li class="nav-item hvr-underline-from-center"><%= link_to "Contact Us", contact_us_path, class:"nav-link py-1" %></li>
          </ul>

          <ul class="navbar-nav ms-auto">
            <!-- Only Gtic Staff -->
            <% if staff_signed_in? %>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle py-1" id="dropdownStaffMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">管理メニュー<b class="caret"></b></a>
                <div class="dropdown-menu" aria-labelledby="dropdownStaffMenu">
                  <%= link_to "Event管理", events_path, class: "dropdown-item" %>
                  <%= link_to "Members管理", members_path, class: "dropdown-item" %>
                  <%= link_to "Media Article管理", media_articles_path, class: "dropdown-item" %>
                  <%= link_to "Sponsor管理", sponsors_path, class: "dropdown-item" %>
                  <%= link_to "Contact管理", contacts_path, class: "dropdown-item" %>
                  <%= link_to "Images管理", images_path, class: "dropdown-item" %>
                  <%= link_to "一斉送信機能", broadcasts_path, class: "dropdown-item" %>
                  <%= link_to "Manual", manuals_path, class: "dropdown-item" %>
                  <% if admin? %>
                    <%= link_to "Staffリスト", :staffs, class: "dropdown-item" %>
                    <%= link_to "Userリスト", :users, class: "dropdown-item" %>
                  <% end %>
                </div>
              </li>
            <% end %>

            <!-- User -->
            <% if signed_in? %>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle py-1" id="dropdownUserMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= current_user.name %> <b class="caret"></b></a>
                <div class="dropdown-menu" aria-labelledby="dropdownUserMenu">
                  <%= link_to "My Page", current_user, class: "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
                </div>
              </li>
            <% else %>
              <li class="nav-item hvr-underline-from-center"><%= link_to "Sign in", new_user_session_path, class: "nav-link py-1" %></li>
            <% end %>

            <!-- locale change -->
            <%= select_locale %>

            <!-- Social -->
            <li class="nav-item ml-2">
              <%= link_to tag.i(class: 'fab fa-facebook-square'), 'https://facebook.com/GTICafe', target: 'blank' %>
              <%= link_to tag.i(class: 'fab fa-line'), 'https://lin.ee/i6liGlO', style: 'color: green;', target: 'blank' %>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </nav>
</header>
