<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand logo-nav" do %>
        <% unless signed_in? %>
          <%= image_tag 'logo2.png' %>
        <% else %>
          <div><%= image_tag 'gtic_logo_c_30x30.png' %>管理アプリ</div>
        <% end %>
      <% end %>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "HOME", root_path %></li>
        <% if signed_in? %>
          <li><%= link_to "MANUAL", manuals_index_path %></li>
          <li><%= link_to "GTIC", events_path %></li>
          <li><%= link_to "MEMBER", members_path %></li>
          <li><%= link_to "メール機能", invitations_path %></li>
          <li><%= link_to "MEDIA ARTICLE管理", media_articles_path %></li>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= User.find(current_user).name %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% if admin? %>
                <li><%= link_to "幹事リスト", :users %></li>
              <% end %>
              <li><%= link_to "MY PROFILE", current_user %></li>
              <li><%= link_to "EDIT MY PROFILE", edit_user_path(@current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "SIGNOUT", '/signout', method: "delete" %> </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ABOUT", :about %></li>
          <li><%= link_to "PRESENTER", :presenter %></li>
          <li><%= link_to "MESSAGE FROM CEO", :ceo_message %></li>
          <li><%= link_to "ORGANIZERS", :organizer %></li>
          <li><%= link_to "MEDIA ARTICLE", :media %></li>
          <li><%= link_to "CONTACT US", :contact %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
