<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand logo-nav" do %>
        <% unless staff_signed_in? %>
          <%= image_tag 'logo2.png' %>
        <% else %>
          <div><%= image_tag 'gtic_logo_c_30x30.png' %>管理アプリ</div>
        <% end %>
      <% end %>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "HOME", root_path %></li>

        <% if staff_signed_in? %>

          <!-- Gtic Staff -->
          <li><%= link_to "MANUAL", manuals_index_path %></li>
          <li><%= link_to "GTIC", events_path %></li>
          <li><%= link_to "MEMBER", members_path %></li>
          <li><%= link_to "メール機能", invitations_path %></li>
          <li><%= link_to "MEDIA ARTICLE管理", media_articles_path %></li>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= @staff.name %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% if admin? %>
                <li><%= link_to "幹事リスト", :staffs %></li>
              <% end %>
              <li><%= link_to "MY PROFILE", @staff %></li>
              <li><%= link_to "EDIT MY PROFILE", edit_staff_path(@staff) %></li>
              <li class="divider"></li>
              <li><%= link_to "SIGNOUT", destroy_user_session_path, method: "delete" %> </li>
            </ul>
          </li>

        <% else %>

          <!-- User -->
          <li><%= link_to "ABOUT", :about, onclick:'FB.AppEvents.logEvent("buttonClicked")' %></li>
          <li><%= link_to "PRESENTER", :presenter %></li>
          <li><%= link_to "MESSAGE FROM CEO", :ceo_message %></li>
          <li><%= link_to "ORGANIZERS", :organizer %></li>
          <li><%= link_to "MEDIA ARTICLE", :media %></li>
          <li><%= link_to "CONTACT US", :contact %></li>
          <% if signed_in? %>
            <li class="dropdown">
              <a href class="dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownUserMenu" aria-expanded="false"> <%= current_user.email %> <b class="caret"></b></a>
              <ul class="dropdown-menu" aria-labelledby="dropdownUserMenu">
                <li><%= link_to "My Page", current_user %></li>
                <li><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "SIGN IN", new_user_session_path %></li>
          <% end %>

        <% end %>
      </ul>
    </div>
  </div>
</nav>
