<!DOCTYPE html>
<html>
  <head>
    <title>GTIC User</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!--
    <%#= javascript_include_tag "highcharts/highcharts.js", "data-turbolinks-track" => true %>
    <%#= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <meta name="robots" content="noindex,follow" >
    <meta name="robots" content="noindex,nofollow,noarchive" >
    <meta name="googlebot" content="noindex,nofollow,noarchive">

    <script>
      $(document).on('ajax:before ajaxStart page:fetch', function(){
        var top = $(window).height()/2 + $(window).scrollTop();
        $('body').spin({top: top});
      });
      $(document).on('ajax:complete ajaxComplete page:change', function(){
        $('body').spin(false);
      });
    </script>
    -->
    <style>
    .btn-group-xs > .btn, .btn-xs {
      padding: .25rem .4rem;
      font-size: .875rem;
      line-height: .9;
      border-radius: .2rem;
    }
    </style>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <% flash.each do |key,value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
    </div>

    <%= yield %>

    <div class="container-fluid">
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>



    <!-- ========== Add js end of body ============= -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/assets/application.js?body=1" type="text/javascript"></script>

    <!-- Facebook Analytics -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : <%= ENV['FACEBOOK_APP_ID'] %>,
          cookie     : true,
          xfbml      : true,
          version    : 'v10.0'
        });

        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

  </body>

</html>
