<!DOCTYPE html>
<html lang="<%= params[:locale] ? params[:locale] : 'ja' %>">

  <head>
    <title><%= (yield(:title) + " - " unless yield(:title).blank?).to_s + "GTIC : Global Techno Innovation Cafe" %></title>

    <!-- For mobile view -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Meta keywords, description for SEO -->
    <meta name="keywords" content="Event, Startup, Venture">
    <meta name="description" content="GTIC (Global Techno Innovation Cafe) organizes events for Startup companies, venture capitals.">
    <meta name="author" content="Tomo Akiyama, Eunchong Kim">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- ========== Stylesheet ============= -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %><!-- Sprockets -->
    <%#= stylesheet_pack_tag 'application' %><!-- Webpacker, not use now -->

    <!-- ========== Javascript ============= -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %><!-- Webpacker -->
    <%= javascript_include_tag "//www.google.com/jsapi" %> <!-- To use geo chart in chartkick -->

    <!-- Page icon -->
    <link rel="shortcut icon" href="<%= asset_path('gtic_logo_c_30x30.png') %>"/>
  </head>


  <body>
    <%= render 'layouts/header' %>

    <% if not flash.empty? %>
      <div class="container">
        <% flash.each do |key,value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>

    <%= debug(params) if Rails.env.development? %>



    <!-- Facebook Analytics -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : <%= ENV['FACEBOOK_APP_ID'] %>,
          cookie     : true,
          xfbml      : true,
          version    : 'v10.0'
        });

        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

  </body>

</html>
