<!DOCTYPE html>
<html>
  <head>
    <title>GTIC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <STYLE TYPE="text/css">
      <!--
      DIV.tuzukiwaku{border:1px solid #badefe;padding:3px;margin:3px;display:none;}
      -->
    </STYLE>

    <SCRIPT language="JavaScript">
      <!--
      function hiraku(geID){
        document.getElementById(geID).style.display = "block";
      }
      function tatamu(geID){
        document.getElementById(geID).style.display = "none";
      }
      //-->
    </SCRIPT>

    <NOSCRIPT>
      <STYLE TYPE="text/css">
        <!--
        DIV.tuzukiwaku{display:block;color:#ffffff;}
        -->
      </STYLE>
    </NOSCRIPT>

  </head>

  <body>
    <%= render 'layouts/header' %>

    <% if not flash.empty? %>
      <div class="container">
        <% flash.each do |key,value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>


    <!-- Add js end of body -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/application.js?body=1" type="text/javascript"></script>

    <script>
      $(document).ready(
        function() {
          AOS.init({
            easing: 'ease-in-quad',
          });
        }
      );
    </script>

    <!-- Facebook Analytics -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : <%= ENV['FACEBOOK_APP_ID'] %>,
          cookie     : true,
          xfbml      : true,
          version    : 'v10.0'
        });

        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

  </body>

</html>
