<h1><%= @title %></h1>

<p>*: <%= t('required') %></p>

<%= form_with model: @member do |form| %>
  <%= hidden_field_tag :event_id, @event.id if @event.present? %>
  <%= hidden_field_tag :referer, @referer if @event.present? %>

  <h5><strong>基本公開情報</strong></h5>
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <%= form.label :last_name, t('user.last_name')+"(*)", class: 'col-form-label col-sm-2' %>
        <%= form.text_field :last_name, placeholder: "山田/John", class: "form-control col", :required => 'required' %>

        <%= form.label :first_name, t('user.first_name')+"(*)", class: 'col-form-label col-sm-2' %>
        <%= form.text_field :first_name, placeholder: "太郎/SMITH", class: "form-control col", :required => 'required' %>
      </div>

      <div class="row">
        <%= form.label :last_name_alphabet, t('user.last_name_alphabet'), class: 'col-form-label col-sm-2' %>
        <%= form.text_field :last_name_alphabet, placeholder: "Yamada", class: "form-control col" %>

        <%= form.label :first_name_alphabet, t('user.first_name_alphabet'), class: 'col-form-label col-sm-2' %>
        <%= form.text_field :first_name_alphabet, placeholder: "Taro", class: "form-control col" %>
      </div>

      <div class="row">
        <%= form.label :category_id, t('user.category'), class: 'col-form-label col-sm-2' %>
        <%= form.select :category_id, options_from_collection_for_select(Category.all, :id, :name, @member.category_id), { include_blank: true }, { class: "form-control col" } %>
      </div>

      <div class="row">
        <%= form.label :affiliation, t('user.affiliation'), class: 'col-form-label col-sm-2' %>
        <%= form.text_field :affiliation, placeholder:  "海山商事", class: "form-control col" %>

        <%= form.label :title, t('user.title'), class: 'col-form-label col-sm-2' %>
        <%= form.text_field :title, placeholder:  "代表取締役社長", class: "form-control col" %>
      </div>

      <div class="row">
        <%= form.label :biography, "略歴 / Biography", class: 'col-form-label col-sm-2' %>
        <%= form.text_area :biography, class: "form-control col", rows: 5 %>
      </div>
    </div>

    <div class="col">
      <% if @member.profile_picture_name %>
        <%= image_tag "data:#{@member.profile_picture_mime_type};base64,#{Base64.strict_encode64(@member.profile_picture_data)}",
            alt: @member.profile_picture_name, class: 'mx-auto d-block', style: 'max-height: 200px;' %>
      <% else %>
        <%= image_tag "/assets/blank_profile_picture.png", class: 'mx-auto d-block', style: 'max-height: 200px;' %>
      <% end %>
    </div>
  </div>

  <h5><strong>ソーシャル情報</strong></h5>
  <div class="row">
    <%= form.label :email, t('user.email'), class: 'col-form-label col-sm-2' %>
    <%= form.email_field :email, placeholder: "test@example.com", class: "form-control col" %>

    <%= form.label :website, class: 'col-form-label col-sm-2' %>
    <%= form.text_field :website, placeholder: "https://example.com", class: "form-control col" %>
  </div>

  <div class="row">
    <%= form.label :facebook_id, "Facebook ID (ユニークなプロフィールID)", class: 'col-form-label col-auto' %>
    <%= form.label :facebook_id, "https://facebook.com/", class: 'input-group-text col-auto' %>
    <%= form.text_field :facebook_id, class: "form-control col" %>

    <%= link_to "このサイトからIDを探す。https://lookup-id.com", "https://lookup-id.com" %>
  </div>

  <h5><strong>GTICで使う情報</strong></h5>
  <div class="row">
    <%= form.label :note, "備考 / note", class: 'col-form-label col-sm-2' %>
    <%= form.text_area :note, class: "form-control col", rows: 5 %>
  </div>

  <div class="row">
    <%= form.label :country_code, "国籍", class: 'col-form-label col-sm-1' %>
    <%= form.country_select :country_code, { selected: @member.country_code ? @member.country_code : "JP", include_blank: 'Select a country' }, { class: "form-control col" } %>

    <%= form.label :gender, "性別", class: 'col-form-label col-sm-1' %>
    <%= form.select :gender, [['Man', 1], ['Woman', 2]], { include_blank: true }, { class: "form-control col" } %>

    <%= form.label :age, "年代", class: 'col-form-label col-sm-1' %>
    <%= form.select :age, [['~20s', 1], ['30s', 2], ['40s', 3], ['50s', 4], ['60s~', 5]], { include_blank: true }, { class: "form-control col" } %>

    <%= form.label :birthday, "誕生月", class: 'col-form-label col-sm-1' %>
    <%= form.date_select :birthday, { discard_year: true, discard_day: true, include_blank: true }, { class: "form-control col" } %>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <%= form.check_box :gtic_flg, class: "form-check-input" %>
      <%= form.label :gtic_flg, "GTIC Staff", class: 'form-check-label' %>
    </div>

    <div class="col-sm-2">
      <%= form.check_box :past_presenter_flg, class:"form-check-input" %>
      <%= form.label :past_presenter_flg, "過去登壇者", class: 'form-check-label' %>
    </div>

    <div class="col-sm-2">
      <%= form.check_box :azsa_flg, class:"form-check-input" %>
      <%= form.label :azsa_flg, "Azsaの人", class: 'form-check-label' %>
    </div>

    <div class="col-sm-2">
      <%= form.check_box :contributor_flg, class:"form-check-input" %>
      <%= form.label :contributor_flg, "GTICに貢献した人", class: 'form-check-label' %>
    </div>

    <div class="col-sm-2">
      <%= form.check_box :black_list_flg, class:"form-check-input" %>
      <%= form.label :black_list_flg, "Black list", class: 'form-check-label' %>
    </div>
  </div>

  <h5><strong>ログイン関連情報</strong></h5>
  <div class="row">
    <%= form.label :provider, "Provider", class: 'col-form-label col-sm-2' %>
    <%= form.text_field :provider, class: "form-control col" %>

    <%= form.label :uid, "User ID", class: 'col-form-label col-sm-2' %>
    <%= form.text_field :uid, class: "form-control col" %>
  </div>

  <br>

  <div class="row">
    <%= form.submit "送信", class: "btn btn-primary col-auto" %>
    <%= link_to 'Cancel & Back', :back, class: 'btn btn-primary offset-sm-1 col-auto' %>
  </div>

<% end %>

<hr>
