<nav aria-label="Page navigation">
  <%= will_paginate @members, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</nav>

<table class="table table-bordered table-striped table-sm" style="font-size: 13px;">
  <thead>
    <tr>
      <th scope="col">Member ID</th>
      <th scope="col">氏名（登録画面にジャンプ）</th>
      <th scope="col">Facebook名前<br>（ページにジャンプ）</th>
      <th scope="col">属性</th>
      <th scope="col"><%= sortable('affiliation',"所属") %></th>
      <th scope="col">役職</th>
      <th scope="col">備考</th>
      <th scope="col"><%= link_to "出席回数", count: true %></th>
      <th scope="col" style="width: 5%;"></th>
    </tr>
  </body>

  <tbody>
    <% @members.each do |member| %>
      <%= content_tag :tr do %>
        <td><%= member.id %></td>
        <td><%= link_to "#{member.last_name} #{member.first_name}", member_path(member) %></td>
        <td><%= link_to "#{member.name}", "https://facebook.com/#{member.uid}", target: :blank %></td>
        <td><%= Category.find(member.category_id).try(:name) if member.category_id.present? %></td>
        <td><%= member.affiliation %></td>
        <td><%= member.title %></td>
        <td><%= member.note %></td>
        <td><%= member.participated_events.count %></td>
        <td><%= link_to "詳細", member_path(member), class:"btn btn-secondary btn-xs" %></td>
      <% end %>
    <% end %>
  </tbody>
</table>

<nav aria-label="Page navigation">
  <%= will_paginate @members, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</nav>
