<h2><%= @title %></h2>
<p>注意）「（漢字） or First name (alphabet)」、「名（漢字） or Last name (alphabet)」欄において、<br>
  漢字の名前の場合は「氏」、「名」順に、<br>
  英名の場合はalphabetを「first」, 「last」順に、<br>
  書き込んでください。</p>

<p>*: required</p>

<%= form_for @member do |form| %>
  <%= hidden_field_tag :event, @event.id, name: "event[id]" if @event.present? %>
  <div class="form-group row">
    <%= form.label :last_name, "* 氏（漢字） or First name (alphabet)", class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= form.text_field :last_name, placeholder: "山田/John", class: "form-control", :required => 'required' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :first_name, "* 名（漢字） or Last name (alphabet)", class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= form.text_field :first_name, placeholder: "太郎/SMITH", class: "form-control", :required => 'required' %>
    </div>
  </div>

      <p>↓今まで「かな」を入力していましたが、今後はalphabetを入力してください。もし、かなになっている場合はalphabetに直してください。英名の場合もalphabetを書いてください</p>
  <div class="form-group row">
    <%= form.label :last_name_alphabet, "氏(alphabet)", class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= form.text_field :last_name_alphabet, placeholder: "Yamada", class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :first_name_alphabet, "名(alphabet)", class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= form.text_field :first_name_alphabet, placeholder: "Taro", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :fb_user_id, "Facebook ID", class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= form.text_field :fb_user_id, placeholder: "00000000000", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :affiliation, "所属 / affiliation", class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= form.text_field :affiliation, placeholder:  "海山商事", class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :title, "肩書 / title", class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= form.text_field :title, placeholder:  "代表取締役社長", class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :note, "備考 / note", class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= form.text_area :note, placeholder: "備考", class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :email, "メールアドレス / email", class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= form.email_field :email, placeholder: "test@example.com", class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :category_id, "属性 / category", class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= form.select :category_id, options_from_collection_for_select(Category.all, :id, :name, @member.category_id), {}, { :class => "form-control", :include_blank => true } %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :gender, "性別", class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= form.select :gender, [['Man', 1], ['Woman', 2]], { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :age, "年代", class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= form.select :age, [['~20s', 1], ['30s', 2], ['40s', 3], ['50s', 4], ['60s~', 5]], { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :birthday, "Birthday", class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= form.date_select :birthday, { discard_year: true, discard_day: true, include_blank: true }, { class: "form-control" } %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :past_presenter_flg, "過去登壇者", class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= @member.past_presenter_flg %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :azsa_flg, "Azsa?", class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= @member.azsa_flg %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :contributor_flg, "Contributor", class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= @member.contributor_flg %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :black_list_flg, "Black list", class: 'col-sm-6' %>
    <div class="col-sm-6">
      <%= @member.black_list_flg %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-offset-6 col-sm-6">
      <%= form.submit "送信", class: "btn btn-primary btn-block" %>
    </div>
  </div>

<% end %>
