<div class="row">
  <div class="col-md-5">
    <h2><%= @title %></h2>
    <%= form_for @member, html: {class: "form-horizontal"} do %>
      <%= hidden_field_tag :event, @event.id, name: "event[id]" if @event.present? %>
      <div class="form-group">
        <%= label_tag :last_name, "氏 / last name", class: 'col-sm-6 control-label' %>
        <div class="col-sm-6">
          <%= text_field_tag nil, @member.last_name, name: "member[last_name]", placeholder: @member.errors.any? ? "#{@member.errors.messages[:last_name][0]}" : "山田 / Smith", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :first_name, "名 / first name", class: 'col-sm-6 control-label' %>
        <div class="col-sm-6">
          <%= text_field_tag nil, @member.first_name, name: "member[first_name]", placeholder: @member.errors.any? ? "#{@member.errors.messages[:first_name][0]}" : "太郎 / John", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :last_name_kana, "氏（かな） / last name", class: 'col-sm-6 control-label' %>
        <div class="col-sm-6">
          <%= text_field_tag nil, @member.last_name_kana, name: "member[last_name_kana]", placeholder: @member.errors.any? ? "#{@member.errors.messages[:last_name_kana][0]}" : "やまだ / Smith", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :first_name_kana, "名（かな） / first name", class: 'col-sm-6 control-label' %>
        <div class="col-sm-6">
          <%= text_field_tag nil, @member.first_name_kana, name: "member[first_name_kana]", placeholder: @member.errors.any? ? "#{@member.errors.messages[:first_name_kana][0]}" : "太郎 / John", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :last_name_alphabet, "氏（ローマ字） / last name", class: 'col-sm-6 control-label' %>
        <div class="col-sm-6">
          <%= text_field_tag nil, @member.last_name_alphabet, name: "member[last_name_alphabet]", placeholder: @member.errors.any? ? "#{@member.errors.messages[:last_name_alphabet][0]}" : "Smith", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :first_name_alphabet, "名（ローマ字） / first name", class: 'col-sm-6 control-label' %>
        <div class="col-sm-6">
          <%= text_field_tag nil, @member.first_name_alphabet, name: "member[first_name_alphabet]", placeholder: @member.errors.any? ? "#{@member.errors.messages[:first_name_alphabet][0]}" : "John", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :fb_user_id, "Facebook ID", class: 'col-sm-6 control-label' %>
        <div class="col-sm-6">
          <%= text_field_tag nil, @member.fb_user_id, name: "member[fb_user_id]", placeholder: @member.errors.any? ? "#{@member.errors.messages[:fb_user_id][0]}" : "00000000000", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :affiliation, "所属 / affiliation", class: 'col-sm-6 control-label' %>
        <div class="col-sm-6">
          <%= text_field_tag nil, @member.affiliation, name: "member[affiliation]", placeholder:  "海山商事", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :title, "肩書 / title", class: 'col-sm-6 control-label' %>
        <div class="col-sm-6">
          <%= text_field_tag nil, @member.title, name: "member[title]", placeholder:  "代表取締役社長", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :note, "備考 / note", class: 'col-sm-6 control-label' %>
        <div class="col-sm-6">
          <%= text_area_tag nil, @member.note, name: "member[note]", placeholder:  "備考", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :email, "メールアドレス / email", class: 'col-sm-6 control-label' %>
        <div class="col-sm-6">
          <%= email_field_tag nil, @member.email, name: "member[email]", placeholder:  "test@example.com", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :category_id, "属性 / category", class: 'col-sm-6 control-label' %>
        <div class="col-sm-6">
          <%= select_tag nil, options_from_collection_for_select(Category.all, :id, :name, @member.category_id), name:"member[category_id]", class: "form-control", include_blank: true %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :birthday, "誕生日 / birthday", class: 'col-sm-6 control-label' %>
        <div class="col-sm-6">
          <%= date_field_tag nil, @member.birthday, name:"member[birthday]", class: "form-control", include_blank: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-6 col-sm-6">
          <%= submit_tag "送信", class: "btn btn-primary btn-block" %> 
        </div>
      </div>
    <% end %>
  </div>
</div>

