<h2>出席イベント</h2>
<table class="table table-bordered table-hover">
  <tr>
    <th>イベント名</th>
    <th>開催日</th>
    <th>Role</th>
  </tr>
  <% @member.participated_events.order("start_time DESC").each do |event| %>
    <tr>
      <td><%= link_to event.name, event_path(event) %></td>
      <td><%= event.start_time.strftime("%Y/%m/%d") %></td>
      <td><%= show_role(@member,event) %></td>
    </tr>
  <% end %>
</table>
<dl class="dl-horizontal">
  <dt>総出席回数</dt>
  <dd><%= @member.participated_events.count %>回</dd>
  <dt>2014.01からの出席回数</dt>
  <dd><%= @member.participated_events.where("start_time > ?", Date.parse("2014-01-01").beginning_of_month).count %>回</dd>
