<div class="btn-group-vertical btn-block" >
  <%= link_to "メンバー一覧", members_path, class: "btn btn-secondary btn-block" %>
  <hr>
  <%= link_to "メンバー登録/CSV読込", new_member_path, class: "btn btn-secondary btn-block" %>
  <%= link_to "出席回数統計", :count_members, class: "btn btn-secondary btn-block" %>
  <%= link_to "Azsa List", :azsa_list_members, class: "btn btn-secondary btn-block" %>
  <%= link_to "Participated Events List", :participated_events_list_members, class: "btn btn-secondary btn-block" %>
  <%= link_to "No-Show List", :no_show_list_members, class: "btn btn-secondary btn-block" %>
  <%= link_to "Black List", :black_list_members, class: "btn btn-secondary btn-block" %>
  <%= link_to "メンバー属性別統計", :category_members, class: "btn btn-secondary btn-block" %>
  <%= link_to "属性管理", categories_path, class: "btn btn-secondary btn-block" %>
</div>
