<div class="row">
  <div class="col-md-2">
    <%= render'members/side' %>
  </div>

  <div class="col">
    <div id="ajax_container">
      <li><%= "登録者数：#{Member.count}名" %></li>
      <li><%= "GTIC：#{Member.where(:gtic_flg => true).count}名" %></li>
      <% Category.all.each do |category| %>
        <%= content_tag :li do %>
          <%= "#{category.name}：#{Member.where(:gtic_flg => nil).where(:category_id => category.id).count}名" %>
        <% end %>
      <% end %>
      <li><%= "未分類：#{Member.where(:gtic_flg => nil).where(:category_id => nil).count}名" %></li>
    </div>
  </div>
</div>
