<div class='container-fluid'>

  <div class="row">
    <div class="col-md-2">
      <%= render 'side' %>
    </div>

    <div class="col">
      <%= link_to 'ダウンロード', members_path(format: 'xls'), class: "btn btn-primary" %>
      <div id="ajax_container">
        <h2>出席者</h2>
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th style="width: 10%;">出席回数</th>
              <th style="width: 10%;">人数</th>
              <th style="width: 80%;">氏名</th>
            </tr>
          </thead>

          <tbody>
            <% @repeater.each do |repeater| %>
              <% if repeater[0] >= 2 %>
                <tr>
                  <td><%= repeater[0] %></td>
                  <td><%= repeater[1].count %></td>
                  <td>
                    <% i=1 %>
                    <% for id in repeater[1] do %>
                      <% member = Member.find(id) %>
                      <% if member.last_name.present? %>
                        <%= link_to "#{member.last_name} #{member.first_name}", member_path(id) %>
                      <% else %>
                        <%= link_to "#{member.name}", member_path(id) %>
                      <% end %>
                      <%= "|" unless i == repeater[1].length %>
                      <% i += 1 %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
