<div class="row">
  <aside class="col-md-2">
    <section>
      <%= render'members/side' %>
    </section>
    <div class="well well-small">
      <ul class="list-unstyled">
        <li><%= "登録者数：#{Member.count}名" %></li>
        <li><%= "GTIC：#{Member.where(:gtic_flg => true).count}名" %></li>
        <% Category.all.each do |category| %> 
          <%= content_tag :li do %>
            <%= "#{category.name}：#{Member.where(:gtic_flg => nil).where(:category_id => category.id).count}名" %>
          <% end %>
        <% end %>
        <li><%= "未分類：#{Member.where(:gtic_flg => nil).where(:category_id => nil).count}名" %></li>
        <li>
        <strong>5回以上参加者</strong>
        <% @repeater.each do |repeater| %>
          <li><%= "#{repeater.last_name} #{repeater.first_name}" %></li>
        <% end %>
        </li>
      </ul>
    </div>
  </aside>
  <div class="col-md-10">
    <%= link_to 'ダウンロード', members_path(format: 'xls'), class: "btn btn-primary" %>
    <%= render'members' %>
  </div>
</div> 
