<div class="row">
  <aside class="span4">
    <section>
      <%= render'members/side' %>
    </section>
    <section class="well well-small">
      <h2>メンバー情報CSVデータ取り込み</h2>
      <%= form_tag import_members_path, multipart: true do %>
        <%= file_field_tag :file, class: "file-holder" %>
      <%= submit_tag "CSV読込",class: "btn" %>
    <% end %>
    </section>
  </aside>
  <div class="span8">
    <%= render'members' %>
  </div>
</div> 
