<div class="row-fluid">
  <aside class="span2">
    <section>
      <%= render'members/side' %>
    </section>
    <div class="well well-small">
      <ul class="unstyled">
        <li><%= "登録者数：#{@members.count}名" %></li>
        <li><%= "GTIC：#{@members.where(:gtic_flg => true).count}名" %></li>
        <% Category.all.each do |category| %> 
          <%= content_tag :li do %>
            <%= "#{category.name}：#{@members.where(:gtic_flg => nil).where(:category_id => category.id).count}名" %>
          <% end %>
        <% end %>
        <li><%= "未分類：#{@members.where(:gtic_flg => nil).where(:category_id => nil).count}名" %></li>
      </ul>
    </div>
  </aside>
  <div class="span10">
    <%= link_to 'ダウンロード', members_path(format: 'xls'), class: "btn btn-primary" %>
    <%= render'members' %>
  </div>
</div> 
