<div class="row">
  <div class="col-md-2">
    <%= render 'members/side' %>
  </div>

  <div class="col-md-10">
    <h2>Participated List</h2>

    <%= form_with url: search_participated_members_path, method: 'get', data: { remote: true }, class: "form-inline" do |form| %>
      <div class="form-group">
        <%= form.label :keyword, "メンバー検索" %>
        <%= form.text_field :keyword, class: "form-control", placeholder: "Keyword" %>
      </div>
      <%= form.submit 'Search', class: 'btn btn-primary' %>
    <% end %>

    <div id="ajax_container">
      <%= render 'participated_events_list' %>
    </div>
  </div>
</div>
