<div class="row">
  <aside class="col-md-2">
    <section>
      <%= render 'members/side' %>
    </section>
  </aside>

  <div class="col">
    <div class="row">
      <h2>メンバー情報</h2>
    </div>

    <div class="row">
      <fieldset disabled="disabled">
        <%= render 'form'%>
      </fieldset>
    </div>

    <div class="row">
      <%= link_to 'メンバー情報編集', edit_member_path(@member), class: "btn btn-lg btn-primary col-sm-5" %>
      <%= link_to 'メンバー削除', @member, value:@member.id, class: 'btn btn-lg btn-warning offset-1 col-sm-5',
        method: :delete, data: { confirm: "削除してもよろしいですか？" } %>
    </div>

    <br>
    <hr>

    <div class="row">
      <h2>出席イベント</h2>
    </div>

    <div class="row">
      <div class=col-sm-6>
        <table class="table table-bordered table-hover table-sm">
          <thead>
            <tr>
              <th style="width: 30%;">イベント名</th>
              <th style="width: 30%;">開催日</th>
              <th style="width: 40%;">Role</th>
            </tr>
          </thead>

          <tbody>
            <% @member.participated_events.order("start_time DESC").each do |event| %>
              <tr>
                <td><%= link_to event.name, event_path(event) %></td>
                <td><%= event.start_time.strftime("%Y/%m/%d") %></td>
                <td><%= show_role(@member,event) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class=col>
        <dl class="dl-horizontal">
          <dt>総出席回数</dt>
          <dd><%= @member.participated_events.count %>回</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
