<h2><%= @title %></h2>
<%= form_for @account, :html => { :class => 'form-horizontal center' } do |f| %>
  <%= f.hidden_field :positive %>
  <table class="table" >
    <tr>
      <th class="col-lg-2">科目名</th>
      <th class="col-lg-1"></th>
      <th class="col-lg-1"></th>
    </tr>
    <tr>
      <td><%= f.text_field :title, class: "form-control" %></td>
      <td><%= submit_tag "送信", class: "btn btn-primary btn-sm" %></td>
      <td><%= link_to "キャンセル", accounts_path, class: "btn btn-default btn-sm" %></td>
    </tr>
  </table>
<% end %>


